* {
    list-style: none;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.pager {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

    .pager > a {
        color: #333;
        font-weight: 400;
        font-size: 16px;
    }

#pagercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pager a {
    font-size: 25px;
    border: 1px solid #e1e2e3;
    user-select: none;
    height: 40px;
    line-height: 40px;
    padding: 0 11px;
    margin: 8px;
    cursor: pointer;
    user-select: none;
}

.pager a.active {
    border: none;
    color: #e12012;
    cursor: auto;
    background: rgba(255, 64, 0, .1);
    border: 1px solid #ff4000 !important;
}

a.disabled {
    color: #999;
    cursor: not-allowed;
}

.none_border {
    margin-left: 10px;
}
.input_page{
margin-left:10px
}
.input_page > input {
    width: 49px;
    height: 30px;
    border: 1px solid #c8c8c8;
}

.buttonGo {
    width: 53px;
    height: 29px;
    background: #ff4000;
    border-radius: 3px;
    font-weight: 400;
    font-size: 14px;
    border: none;
    color: #FFF;
    margin-left: 10px;
}

.input_page > input.foucs {
    list-style: none;
}
