<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Themes/css/TopStyle.css">
    <link rel="stylesheet" href="../Themes/css/BottomStyle.css">
    <link rel="stylesheet" href="../Themes/css/chanpinku.css">
</head>

<body>
    <!-- product library -->
    <div class="product-library">
        <div class="container-topone">
            <div class="containerTop-cont">
                <div class="containerTop-left">
                    <div>欢迎来到秒火食品招商网!</div>
                    <div><a href="javascript:void(0)">请登录</a></div>
                    <div><a href="javascript:void(0)">免费注册</a></div>
                </div>
                <div class="containerTop-right">
                    <ul>
                        <li><a href="javascript:void(0)" target="_blank">网站地图</a></li>
                        <li><a href="javascript:void(0)" target="_blank">网站导航</a></li>
                        <li><a href="javascript:void(0)" target="_blank">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- serach -->
        <div class="container-toptwo">
            <div class="web-logo">
                <img src="./images/weblogo.png" alt="">
            </div>
            <div class="web-search">
                <div class="serach-box">
                    <input type="text">
                    <div><a href="asd">搜索</a></div>
                    <div class="hot-search">
                        <ul>
                            <li class="active-color-red">热门搜索：</li>
                            <li>益生菌</li>
                            <li>重庆酸辣粉</li>
                            <li class="active-color-red">大窑汽水</li>
                            <li>椰子汁</li>
                            <li>蔬菜果汁</li>
                            <li>自热小火锅</li>
                            <li>维生素饮料</li>
                        </ul>
                    </div>
                    <div class="hot-searchCont">2023爆款饮料</div>
                    <div class="Fast-entry"><a href="asd">快速入驻</a></div>
                </div>
            </div>
        </div>
        <!--  navigation bar -->
        <div class="navigation-bar">
            <div class="navigation-cont">
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">首页</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品招商</a></li>
                    <li><a href="javascript:void(0)" target="_blank">饮料招商</a></li>
                    <li><a href="javascript:void(0)" target="_blank">糖酒展会</a></li>
                    <li><a class="active-navigat" href="javascript:void(0)" target="_blank">产品库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">企业库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品价格</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品百科</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品资讯</a></li>
                </ul>
            </div>
        </div>
        <!-- main body content -->
        <div class="zhuticont">
            <div class="cont-left">
                <div class="cont-left-top">
                    <div></div>
                    <div>
                        <p>当前位置：<a href="javascript:void(0)" target="_blank">秒火食品招商网首页</a> &gt; 产品库</p>
                    </div>
                </div>
                <div class="main-list">
                    <ul>
                        <li class="clearfix">
                            <a href="javascript:void(0)" class="fl main-list-product-pic" target="_blank">
                                <img src="https://www.spdl.com/ImgCoProductList/s_202109231048370376.jpg" alt="">
                            </a>
                            <div class="clearfix main-list-product fl">
                                <a class="main-list-product-name" href="javascript:void(0)"
                                    target="_blank">全家福桂圆莲子养生粥礼盒</a>
                                <p>产品分类：方便食品-&gt;方便粥-&gt;养生粥</p>
                                <p>所属系列:八宝粥系列</p>
                                <a href="javascript:void(0)" class="fl main-list-contact tac" target="_blank"
                                    rel="nofollow">联系方式</a>
                                <a href="javascript:void(0)" class="fl main-list-agent tac" target="_blank"
                                    rel="nofollow">我要代理</a>
                            </div>
                            <div class="main-list-company fr">
                                <div class="clearfix main-list-company-top">
                                    <a href="javascript:void(0)" class="fl main-list-company-pic" target="_blank">
                                        <img src="https://www.spdl.com/ImgCompany/202109241059001.jpg" alt="河北卫邦食品有限公司">
                                    </a>
                                    <div class="fl">
                                        <a href="javascript:void(0)" class="main-list-company-name"
                                            target="_blank">河北卫邦食品有限公司</a>
                                        <p class="clearfix main-list-company-label">
                                            <span class="fl main-list-company-recom tac"></span>
                                        </p>
                                        <p class="main-list-company-area clearfix">
                                            <i class="fl"></i>
                                            <span class="fl">河北省衡水市阜城县</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="javascript:void(0)" class="fl main-list-product-pic" target="_blank">
                                <img src="https://www.spdl.com/ImgCoProductList/s_202109231048370376.jpg" alt="">
                            </a>
                            <div class="clearfix main-list-product fl">
                                <a class="main-list-product-name" href="javascript:void(0)"
                                    target="_blank">全家福桂圆莲子养生粥礼盒</a>
                                <p>产品分类：方便食品-&gt;方便粥-&gt;养生粥</p>
                                <p>所属系列:八宝粥系列</p>
                                <a href="javascript:void(0)" class="fl main-list-contact tac" target="_blank"
                                    rel="nofollow">联系方式</a>
                                <a href="javascript:void(0)" class="fl main-list-agent tac" target="_blank"
                                    rel="nofollow">我要代理</a>
                            </div>
                            <div class="main-list-company fr">
                                <div class="clearfix main-list-company-top">
                                    <a href="javascript:void(0)" class="fl main-list-company-pic" target="_blank">
                                        <img src="https://www.spdl.com/ImgCompany/202109241059001.jpg" alt="河北卫邦食品有限公司">
                                    </a>
                                    <div class="fl">
                                        <a href="javascript:void(0)" class="main-list-company-name"
                                            target="_blank">河北卫邦食品有限公司</a>
                                        <p class="clearfix main-list-company-label">
                                            <span class="fl main-list-company-recom tac"></span>
                                        </p>
                                        <p class="main-list-company-area clearfix">
                                            <i class="fl"></i>
                                            <span class="fl">河北省衡水市阜城县</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <a href="javascript:void(0)" class="fl main-list-product-pic" target="_blank">
                                <img src="https://www.spdl.com/ImgCoProductList/s_202109231048370376.jpg" alt="">
                            </a>
                            <div class="clearfix main-list-product fl">
                                <a class="main-list-product-name" href="javascript:void(0)"
                                    target="_blank">全家福桂圆莲子养生粥礼盒</a>
                                <p>产品分类：方便食品-&gt;方便粥-&gt;养生粥</p>
                                <p>所属系列:八宝粥系列</p>
                                <a href="javascript:void(0)" class="fl main-list-contact tac" target="_blank"
                                    rel="nofollow">联系方式</a>
                                <a href="javascript:void(0)" class="fl main-list-agent tac" target="_blank"
                                    rel="nofollow">我要代理</a>
                            </div>
                            <div class="main-list-company fr">
                                <div class="clearfix main-list-company-top">
                                    <a href="javascript:void(0)" class="fl main-list-company-pic" target="_blank">
                                        <img src="https://www.spdl.com/ImgCompany/202109241059001.jpg" alt="河北卫邦食品有限公司">
                                    </a>
                                    <div class="fl">
                                        <a href="javascript:void(0)" class="main-list-company-name"
                                            target="_blank">河北卫邦食品有限公司</a>
                                        <p class="clearfix main-list-company-label">
                                            <span class="fl main-list-company-recom tac"></span>
                                        </p>
                                        <p class="main-list-company-area clearfix">
                                            <i class="fl"></i>
                                            <span class="fl">河北省衡水市阜城县</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- paging device -->
                <div class="device">
                    <div class="danzuo"></div>
                    <div class="pageactive">1</div>
                    <div>2</div>
                    <div>3</div>
                    <div>4</div>
                    <div>...</div>
                    <div>10</div>
                    <div class="shaungyou"></div>
                    <div class="arr-right"></div>
                </div>
            </div>
            <div class="cont-right">
                <div class="cont-right-top">相关推荐产品</div>
                <div class="product-list-recomed">
                    <ul class="recomed-ul">
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>1</span>
                                <a href="javascript:void(0)">好麦奶棒面包208g</a>
                            </div>
                            <div class="recomed-company" style="height: 100px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814070119882da5.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>2</span>
                                <a href="javascript:void(0)">好麦奶皮流心包紫薯味110g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_202302181407208585a41f.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>3</span>
                                <a href="javascript:void(0)">好麦菠萝堡90g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_202302181406196566dbbc.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn"
                                            href="https://www.spdl.com/product/605441.html#ly">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>4</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>5</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>6</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>7</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>8</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="recomed-li">
                            <div class="recomed-li-title">
                                <span>9</span>
                                <a href="javascript:void(0)">好麦蛋奶饼208g</a>
                            </div>
                            <div class="recomed-company" style="height: 0px;">
                                <div class="recomed-li-box">
                                    <img src="https://www.spdl.com/ImgCoProductList/s_2023021814064058296836.jpg"
                                        alt="Alternate Text" class="li-box-left">
                                    <div class="li-box-right">
                                        <a class="li-box-href" href="javascript:void(0)">山东好麦食品有限公司</a>
                                        <div class="dis_fsz _c li-box-color">
                                            <div>推荐指数 :</div>
                                            <div class="img_box dis_fsz _c starr5">
                                                <i></i>
                                            </div>
                                        </div>
                                        <a class="li-box-btn" href="javascript:void(0)">我要代理</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Recommended enterprise -->
            <div class="cont-right recommenda">
                <div class="cont-right-top">推荐企业</div>
                <div class="product-list-con tac">
                    <ul class="clearfix">
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://bayuezi.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_20230512115706233781b0.jpg" alt="陕西八月紫尚品健康管理有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://bayuezi.spdl.com">陕西八月紫尚品健康管理有限公司</a>
                            </li>
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://xiongmaoruye.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_2023051514391628478bf3.jpg" alt="熊猫乳品集团股份有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://xiongmaoruye.spdl.com">熊猫乳品集团股份有限公司</a>
                            </li>
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://fenghuafood.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_202305081440053827a8ca.jpg" alt="北海丰华食品有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://fenghuafood.spdl.com">北海丰华食品有限公司</a>
                            </li>
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://yankun.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_202305041142064395e39c.jpg" alt="菏泽焱坤食品有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://yankun.spdl.com">菏泽焱坤食品有限公司</a>
                            </li>
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://tianzhichu.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_2023042813462549291fb5.jpg" alt="焦作市万家惠电子商务有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://tianzhichu.spdl.com">焦作市万家惠电子商务有限公司</a>
                            </li>
                            <li class="fl">
                                <a class="product-list-con-pic" href="https://mulangry.spdl.com">
                                    <img src="https://www.spdl.com/ImgCompany/s_2023050616101757762f06.jpg" alt="新疆慕朗乳业有限公司">
                                </a>
                                <a class="product-list-con-name" href="https://mulangry.spdl.com">新疆慕朗乳业有限公司</a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottomsyt">
            <div class="wrap_main_content">
                <footer class="container-fluid"
                    style="background-color: #FFFFFF !important; border-top: 4px solid #C60000;">
                    <div class="foot container clearfix">
                        <div class="footl fl">
                            <a href="javascript:void(0)" target="_blank"><img src="./images/foodbottomlogo.png"
                                    alt="食品代理网" class="logo2" /></a>
                            <div class="foot-list">
                                <ul class="clearfix">
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/yss.jpg" alt="食品代理网" /></div>
                                    </li>
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/hidden.jpg" alt="经销商商会" /></div>
                                    </li>
                                    <li class="fl"><a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=1425594764&amp;site=qq&amp;menu=yes"><i></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footr fl">
                            <div class="footr-bg">
                                <ul class="clearfix">
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/gywomen.html"
                                            target="_blank" rel="nofollow">关于我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/tuisonghy.html" target="_blank"
                                            rel="nofollow">服务介绍</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/ggfuwu.html"
                                            target="_blank" rel="nofollow">服务优势</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/kfzhongxin.html" target="_blank"
                                            rel="nofollow">服务细则</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="http://www.zzqtkj.cn/recruit.html"
                                            target="_blank" rel="nofollow">客服中心</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/sybangzhu.html" target="_blank"
                                            rel="nofollow">人才招聘</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/nav.html"
                                            target="_blank">站点导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/qtzz.html"
                                            target="_blank" rel="nofollow">使用帮助</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/Themes/Images/About/zizhi_2.png" target="_blank"
                                            rel="nofollow">用户协议</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/fwtiaokuan.html"
                                            target="_blank">网站导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">联系我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">青天资质</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html" target="_blank">营业执照</a>
                                    </li>
                                </ul>
                                <p class="footer-bga">
                                    技术支持：<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">郑州青天软件科技有限公司</a>-旗下网站：<a href="https://www.spdl.com"
                                        target="_blank">食品代理网</a>、<a href="https://xx.spdl.com"
                                        target="_blank">休闲食品代理网</a>、<a href="https://yl.spdl.com"
                                        target="_blank">饮料饮品代理网</a>、<a href="https://hj.spdl.com"
                                        target="_blank">酒水代理网</a>、<a href="https://twp.spdl.com"
                                        target="_blank">调味料代理网</a>、<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">青天软件</a><i></i>
                                </p>
                                <p class="footer-bga">版权所有：食品代理网 Copyright © 2013-2025 <a target="_blank"
                                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41010502002234"
                                        rel="nofollow">豫公网安备 41010502002234号</a>
                                    <span>增值电信业务经营许可证:B2-20160114</span>　备案:<a href="https://beian.miit.gov.cn"
                                        target="_blank" rel="nofollow">豫ICP备14027272号-1</a> <a>《网络服务使用协议》</a>
                                </p>
                                <p class="footer-bga">
                                    免责声明：本站是专业提供 食品代理、食品招商、饮料代理、饮料招商等网络信息平台，本网站只起到信息平台作用，不为交易经过负任何责任，请双方谨慎交易，以确保您的权益。
                                </p>

                                <div class="safe_info">
                                    <script language="javascript" type="text/javascript"
                                        src="./js/indexfoot.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="./js/jquery.min.js"></script>
    <script type="text/javascript">
        $('#imgbanner li').hover(function () {
            $('.posa', this).stop().animate({ right: '-100%' }, { queue: false, duration: 400 }); //top是方向向上，400是速度越小越快
        }, function () {
            $('.posa', this).stop().animate({ right: '0px' }, { queue: false, duration: 400 });
        });
        // clicktype(11); //类型词的提交，函数在public.js中
        $(".recomed-li").hover(function () {
            $(".recomed-li .recomed-company").css("height", "0px")
        }, function () {
            $(this).find('.recomed-company').css("height", "100px")
        })
    </script>
</body>

</html>