<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Themes/css/TopStyle.css">
    <link rel="stylesheet" href="../Themes/css/BottomStyle.css">
    <link rel="stylesheet" href="../Themes/css/mhdetails.css">
    <link rel="stylesheet" href="../Themes/css/company.css">
</head>
<body>
    <!-- product details -->
    <div class="productDetails">
        <div class="container-topone">
            <div class="containerTop-cont">
                <div class="containerTop-left">
                    <div>欢迎来到秒火食品招商网!</div>
                    <div><a href="javascript:void(0)">请登录</a></div>
                    <div><a href="javascript:void(0)">免费注册</a></div>
                </div>
                <div class="containerTop-right">
                    <ul>
                        <li><a href="javascript:void(0)" target="_blank">网站地图</a></li>
                        <li><a href="javascript:void(0)" target="_blank">网站导航</a></li>
                        <li><a href="javascript:void(0)" target="_blank">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- serach -->
        <div class="container-toptwo">
            <div class="web-logo">
                <img src="./images/weblogo.png" alt="">
            </div>
            <div class="web-search">
                <div class="serach-box">
                    <input type="text">
                    <div><a href="asd">搜索</a></div>
                    <div class="hot-search">
                        <ul>
                            <li class="active-color-red">热门搜索：</li>
                            <li>益生菌</li>
                            <li>重庆酸辣粉</li>
                            <li class="active-color-red">大窑汽水</li>
                            <li>椰子汁</li>
                            <li>蔬菜果汁</li>
                            <li>自热小火锅</li>
                            <li>维生素饮料</li>
                        </ul>
                    </div>
                    <div class="hot-searchCont">2023爆款饮料</div>
                    <div class="Fast-entry"><a href="asd">快速入驻</a></div>
                </div>
            </div>
        </div>
        <!--  navigation bar -->
        <div class="navigation-bar">
            <div class="navigation-cont">
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">首页</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品招商</a></li>
                    <li><a href="javascript:void(0)" target="_blank">饮料招商</a></li>
                    <li><a href="javascript:void(0)" target="_blank">糖酒展会</a></li>
                    <li><a href="javascript:void(0)" target="_blank">产品库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">企业库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品价格</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品百科</a></li>
                    <li><a class="active-navigat" href="javascript:void(0)" target="_blank">食品资讯</a></li>
                </ul>
            </div>
        </div>
        <!-- content -->
        <div class="content-fluid">
            <!-- mb -->
            <div class="bread">
                <p>
                    <span>当前位置:&#X3000;</span>
                    <span><a>饮料招商网</a></span>
                    <span>></span>
                    <span><a>产品库</a></span>
                    <span>></span>
                    <span><a>果汁</a></span>
                    <span>></span>
                    <span>冰红茶500*24ml</span>
                </p>
            </div>
            <!-- 顶部滚动是否fiex -->
            <div class="TopHiding">
                <div class="headerContent">
                    <span><a href="javascript:void(0)">德州德润橡塑有限公司</a></span>
                    <div><span class="active-ac">产品介绍</span></div>
                    <div><span>公司信息</span></div>
                    <div><span>联系我们</span></div>
                    <a href="">
                        <div>
                            <img class="blackimg-two" src="./images/orcode.png" alt="">
                            <div id="qrcode3" class="fl head-conr-ewm"></div>
                            <span>手机查看</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 产品详情介绍 -->
            <div class="product-detail clearfix container look">
                <!-- 左侧图片框 -->
                <div class="deteilImages">
                    <div class="detailsImgBox">
                        <img src="" alt="">
                        <video controls>
                            <source src="https://bj.bcebos.com/b2b-video/553b0c53ea0986fc37304aefdae41180_transcode.mp4"
                                type="video/mp4">
                        </video>
                    </div>
                    <!-- 点击图切换 -->
                    <div class="yichuov">
                        <div class="detailsSmallImg slider">
                            <div class="leftbuton">
                            </div>
                            <div class="rightbuton">
                            </div>
                            <div class="imgTab">
                                <img src="https://bms.spdl.com/SPDL/Uploadfiles/Imgtuijian/s_2023031414480178343bda.jpg"
                                    alt="">
                            </div>
                            <div class="imgTab">
                                <video>
                                    <source
                                        src="https://bj.bcebos.com/b2b-video/553b0c53ea0986fc37304aefdae41180_transcode.mp4"
                                        type="video/mp4">
                                </video>
                            </div>
                            <div class="imgTab">
                                <img src="https://bms.spdl.com/SPDL/Uploadfiles/Imgtuijian/s_2023031717394262225441.jpg"
                                    alt="">
                            </div>
                            <div class="imgTab">
                                <img src="https://bms.spdl.com/SPDL/Uploadfiles/Imgtuijian/s_202303071148237575877c.jpg"
                                    alt="">
                            </div>
                            <div class="imgTab">
                                <img src="https://bms.spdl.com/SPDL/Uploadfiles/Imgtuijian/s_202303071148237575877c.jpg"
                                    alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 中间内容 -->
                <div class="detailsContent">
                    <div class="detailsName">
                        <h1>洛小夕每日坚果袋装100g</h1>
                    </div>
                    <div class="xingjirenzheng">
                        <img src="./images/renzhengbeijing.png" alt="">
                        <span>诚信5星认证</span>
                    </div>
                    <div class="chanpinxiangqing">
                        <p><span>产品分类</span><span>饮料饮品-果蔬汁饮料-果汁</span></p>
                        <p><span>品牌</span><span>广东葡口食品有限公司</span></p>
                        <p><span>地区</span><span>广东省中山市</span></p>
                    </div>
                    <div class="detailsbutton">
                        <div class="dailibut">
                            <img src="./images/liuyanguanlit.png" alt="">
                            <span>代理咨询</span>
                        </div>
                        <div class="phonebut">
                            <img src="./images/phonezixun.png" alt="">
                            <span>获取电话</span>
                        </div>
                        <div class="shoucang">
                            <img src="./images/shoucang.png" alt="">
                            <span>收藏</span>
                        </div>
                    </div>
                    <div class="zixunbaodao">
                        <div class="jingtitle">咨询报道</div>
                        <div class="gundongde">
                            <div class="gudongbox">
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了1 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了2 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了3 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了4 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了5 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了6 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了7 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了8 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了9 中山市新佳食品有限公司</span>
                                </p>
                                <p>
                                    <img src="./images/liuyanguanlibai.png" alt="">
                                    <span>王先生在<span class="actcolor">2小时</span>前前咨询了10 中山市新佳食品有限公司</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="liubai"></div>
                <!-- 右侧内容 -->
                <div class="endRightContent">
                    <a href="">
                        <div class="companylogo">
                            <img src="https://www.9918.tv/ImgCompany/202202201905591.jpg" alt="">
                        </div>
                        <div class="companyName">广东葡口食品有限公司</div>
                    </a>
                    <div class="YearGrade">
                        <div class="MemberOrder">v3</div>
                        <div class="MemberOrderYear">5年</div>
                        <div class="CompanyQrCode">
                            <div id="qrcode" class="fl head-conr-ewm"></div>
                        </div>
                    </div>
                    <div class="companyProfile">
                        <span>认证时间:&nbsp;&nbsp;2021-09-30</span>
                        <span>意向加盟:&nbsp;&nbsp;<span class="conterColor">6546163</span>人</span>
                        <span>所在地区：广东省中山市</span>
                        <span>主营产品：果汁</span>
                    </div>
                    <div class="butdianpu">
                        <div class="butdianpuOne"><span>进入店铺</span></div>
                        <div class="butdianpuTwo"><span>全部产品</span></div>
                    </div>
                </div>
            </div>
            <!-- 本公司推荐 -->
            <div class="companyRecommend">
                <div class="afterRecommend">
                    <div></div>
                    <div>本公司推荐</div>
                    <a href="">
                        <div>查看更多</div>
                    </a>
                </div>
                <div class="moreGo">
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                    <a href="">
                        <div class="everyLast">
                            <div>
                                <img src="https://ss1.baidu.com/6ONXsjip0QIZ8tyhnq/it/u=2265010220,2784173299&fm=199&app=68&f=JPEG?w=375&h=375&s=A69C7185C85F78CC4E945DD30300C090"
                                    alt="">
                            </div>
                            <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- 内容简介big -->
            <div class="brief-content">
                <!-- 上框 -->
                <div class="brief-content-one">
                    <div class="featured-product">
                        <div class="logo-featured">
                            <img src="./images/tuijian.png" alt="">
                            <span>主打产品</span>
                        </div>
                        <!-- 主打产品 -->
                        <a href="javascript:void(0)">
                            <div class="Left-main">
                                <div>
                                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=635707277,1779438765&fm=199&app=68&f=JPEG?w=375&h=375&s=C840D5104A9677C8CEB430CE030080A1"
                                        alt="">
                                </div>
                                <span>防静电加工件 工农业用塑料制品 高密度异形件</span>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="Left-main">
                                <div>
                                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=635707277,1779438765&fm=199&app=68&f=JPEG?w=375&h=375&s=C840D5104A9677C8CEB430CE030080A1"
                                        alt="">
                                </div>
                                <span>防静电加工件 工农业用塑料制品 高密度异形件</span>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="Left-main">
                                <div>
                                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=635707277,1779438765&fm=199&app=68&f=JPEG?w=375&h=375&s=C840D5104A9677C8CEB430CE030080A1"
                                        alt="">
                                </div>
                                <span>防静电加工件 工农业用塑料制品 高密度异形件</span>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="Left-main">
                                <div>
                                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=635707277,1779438765&fm=199&app=68&f=JPEG?w=375&h=375&s=C840D5104A9677C8CEB430CE030080A1"
                                        alt="">
                                </div>
                                <span>防静电加工件 工农业用塑料制品 高密度异形件</span>
                            </div>
                        </a>
                        <a href="javascript:void(0)">
                            <div class="Left-main">
                                <div>
                                    <img src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=635707277,1779438765&fm=199&app=68&f=JPEG?w=375&h=375&s=C840D5104A9677C8CEB430CE030080A1"
                                        alt="">
                                </div>
                                <span>防静电加工件 工农业用塑料制品 高密度异形件</span>
                            </div>
                        </a>
                    </div>
                    <div class="corporate-information">
                        <div class="headerContent">
                            <div class="active-ac"><span class="active-ac">产品介绍</span></div>
                            <div><span>公司信息</span></div>
                            <div><span>联系我们</span></div>
                            <a href="">
                                <div>
                                    <img class="blackimg" src="./images/orcode.png" alt="">
                                    <div id="qrcode2" class="fl head-conr-ewm"></div>
                                    <span>手机查看</span>
                                </div>
                            </a>
                        </div>
                        <div class="principal-conter">
                            <div class="principal-conter-last">
                                <div><span class="key-cont">所属公司</span><span class="price-cont">广东葡口食品有限公司</span></div>
                                <div><span class="key-cont">产品规格</span><span class="price-cont">960mlx6罐</span></div>
                                <div><span class="key-cont">产品类别</span><span class="price-cont">饮料饮品>果蔬汁饮料>果汁</span></div>
                                <div><span class="key-cont">供应地址</span><span class="price-cont">广东省中山市市、县级市</span></div>
                                <div><span class="key-cont">更新时间</span><span class="price-cont">2023/3/15 13:36:47</span>
                                </div>
                            </div>
                            <div class="product-presentation">
                                葡口果粒荔枝汁饮料960mlx6罐是由广东葡口食品有限公司经营的饮料饮品->果蔬汁饮料->果汁
                                系列产品，契合广大消费者需求，口味纯正，赋予您丰富的营养和口感。公司始终坚持以健康的产品，过硬的质量，贴心的服务，合理的价格和秉承双赢的经营理念，现面向全国诚招代理商，欢迎来电咨询！
                            </div>
                            <div class="product-img">
                                <img src="https://fc4tn.baidu.com/it/u=1824386063,2484917608&fm=202" alt="">
                            </div>
                        </div>
                        <div class="corporatexinxi">
                            <div class="scrollTwo">公司信息</div>
                            <div>
                                <span>广东葡口食品有限公司</span>
                                <div>诚信5星认证</div>
                            </div>
                            <div>
                                广东葡口食品有限公司是主要从事饮料研发、生产销售的一体化企业，公司以“葡口”饮料为品牌，配以完善的管理体系，严格的质量管理制度，统一的原料采购.与包材制作，为高品质产品提供强而有力的品质保障。
                                <br>&#x3000;&#x3000;做为一家新兴生产企业。公司推出的葡口“果粒黄桃汁饮品 ，果粒荔枝汁饮品
                                ，果粒葡萄汁饮品”以其美味的口感。自上市以来广受消费者的喜爱。自成立以来，依靠科技进步，不断扩充食品技术研发和生产力量，计划继续扩大产品市场占有率，提高公司整体的市场竞争力，力争将公司打造成为知名果汁类饮品生产企业。把得天独存的自然资源转化为独特的产品优势，应用专业的科学技术各工艺生产，精益求精，从源头上保证产品的质量安全，深受经销商欢迎。
                                <br>&#x3000;&#x3000;公司将伴随市场的不同需求为广大客户提供更优质的产品和更完美的服务。公司以“坚持理想、实现目标”“优质、高效、诚信、创新”的企业思想，始终不渝的经营理念为您服务，与您真诚合作，共创美好明天!
                            </div>
                        </div>
                        <div class="contactUs">
                            <div class="lianxiScroll">联系我们</div>
                            <div class="callmap">
                                <div class="mapbd">
                                    <div id="map">
                                        <script src="https://wdjh.9918.tv/js/winebaiduapi.js"
                                            type="text/javascript"></script>
                                        <script type="text/javascript">
                                            var map = new WineMap();
                                            map.PanelID = 'map';
                                            map.Lng = '104.0889150200';
                                            map.Lat = '30.4268951000';
                                            map.CompanyName = '中国西部国际博览城';
                                            map.Address = '成都市双流区天府新区福州路东段88号';
                                            map.CreateCompanyMap();
                                        </script>
                                    </div>
                                </div>
                                <div class="AddressTelephone">
                                    <p>联系方式</p>
                                    <p><span>全国招商热线</span><span>400-6692-019</span></p>
                                    <p><span>联系人</span><span>400-6692-019(全国招商热线)</span></p>
                                    <p><span>联系邮箱</span><span>guangdongpukou@163.com</span></p>
                                    <p>联系地址</p>
                                    <p><span>公司地址</span><span>中山市神湾镇环岛路30号</span></p>
                                </div>
                            </div>
                            <div>
                                <img src="./images/liulanguanli.png" alt="">
                                <span>立即咨询</span>
                                <span>请填写真实的留言信息，方便厂家及时与您取得联系！</span>
                            </div>
                            <!-- 留言 -->
                            <div class="liuyanbox">
                                <div class="liuyanCont">
                                    <ul>
                                        <li class="clearfix">
                                            <span>*</span>
                                            <span>您的姓名:</span>
                                            <input type="text" id="AgentManName name" placeholder="请输入你的姓名或昵称">
                                        </li>
                                        <li class="clearfix">
                                            <span>*</span>
                                            <span>联系电话:</span>
                                            <input type="text" id="AgentManName mobile" placeholder="请输入您的手机号">
                                        </li>
                                        <li class="clearfix">
                                            <span></span>
                                            <span>联系QQ:</span>
                                            <input type="text" id="AgentManName weixin" placeholder="请输入你的常用QQ">
                                        </li>
                                        <li class="clearfix">
                                            <span></span>
                                            <span>回访时间:</span>
                                            <div>
                                                <input type="radio" checked="checked" name="time" value="随时">
                                                <span>随时</span>
                                            </div>
                                            <div>
                                                <input type="radio" name="time" value="9点-12点">
                                                <span>9点-12点</span>
                                            </div>
                                            <div>
                                                <input type="radio" name="time" value="13点-17点">
                                                <span>13点-17点</span>
                                            </div>
                                            <div>
                                                <input type="radio" name="time" value="18点-21点">
                                                <span>18点-21点</span>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <span>*</span>
                                            <span>代理区域:</span>
                                            <select name="province" id="province">
                                                <option value="0">请选择</option>
                                            </select>
                                            <select name="city" id="city">
                                                <option value="0">请选择</option>
                                            </select>
                                            <select name="town" id="town">
                                                <option value="0">请选择</option>
                                            </select>
                                        </li>
                                        <li class="clearfix">
                                            <span>*</span>
                                            <span class="backgo">留言内容:</span>
                                            <textarea name="" id="online-message" cols="30"
                                                placeholder="我想代理,请来电告诉我具体细节。"></textarea>
                                        </li>
                                    </ul>
                                </div>
                                <div class="kuaijieliuyan">
                                    <div class="kuaijie">
                                        <span>您可以根据意向选择下列</span>
                                        <span>快捷留言</span>
                                    </div>
                                    <div class="fastSelect">
                                        <ul>
                                            <li>
                                                <input type="radio" checked="checked" id="fast-one" name="cards"
                                                    class="moreandone" value="我想代理,请来电告诉我具体细节。">
                                                <label for="fast-one">我想代理,请来电告诉我具体细节。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-two" name="cards" class="moreandone"
                                                    value="我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。">
                                                <label for="fast-two">我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-stree" name="cards" class="moreandone"
                                                    value="我想做市级代理，有多年食品、饮料销售 经验，请尽快联系我。">
                                                <label for="fast-stree">我想做市级代理，有多年食品、饮料销售 经验，请尽快联系我。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-four" name="cards" class="moreandone"
                                                    value="我想了解产品的利润空间。">
                                                <label for="fast-four">我想了解产品的利润空间。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-five" name="cards" class="moreandone"
                                                    value="我是专做夜场销售。">
                                                <label for="fast-five">我是专做夜场销售。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-six" name="cards" class="moreandone"
                                                    value="我需求量大或团购。">
                                                <label for="fast-six">我需求量大或团购。</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="fast-seven" name="cards" class="moreandone"
                                                    value="我有多年的销售经验，请尽快联系我。">
                                                <label for="fast-seven">我有多年的销售经验，请尽快联系我。</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="elsego">
                                    <div class="clearfix">
                                        <input class="fl" checked="checked" type="radio" name="OnLock" value="0">
                                        <span class="fl protocol">同类厂家查看</span>
                                    </div>
                                    <div class="clearfix">
                                        <input class="fl" type="radio" name="OnLock" value="1">
                                        <span class="fl protocol">意向厂家查看</span>
                                    </div>
                                    <div class="clearfix">
                                        <input type="checkbox" id="yinwu" style="margin-right:6px;" name="yinsi"
                                            checked="checked" value="1">我同意遵循<a href="https://www.9918.tv/about/fwtk.html"
                                            style="color:#006ed5;" target="_blank">《好酒代理网 服务条款》</a>和<a
                                            style="color:#006ed5;" href="https://www.9918.tv/about/yszc.html"
                                            target="_blank">《好酒代理网 隐私政策》</a>
                                    </div>
                                </div>
                                <div class="venice">
                                    立即咨询
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="correlationcp">
                        <div class="companyRecommendtwo">
                            <div class="afterRecommendtwo">
                                <div></div>
                                <div>相关推荐</div>
                            </div>
                            <div class="moreGotwo">
                                <div class="everyLasttwo">
                                    <div>
                                        <a href="">
                                            <img src="https://www.9918.tv/uploadfiles/s_636445319183815233.jpg" alt="">
                                        </a>
                                    </div>
                                    <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                                </div>
                                <div class="everyLasttwo">
                                    <div>
                                        <a href="">
                                            <img src="https://www.9918.tv/uploadfiles/s_636445319183815233.jpg" alt="">
                                        </a>
                                    </div>
                                    <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                                </div>
                                <div class="everyLasttwo">
                                    <div>
                                        <a href="">
                                            <img src="https://www.9918.tv/uploadfiles/s_636445319183815233.jpg" alt="">
                                        </a>
                                    </div>
                                    <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                                </div>
                                <div class="everyLasttwo">
                                    <div>
                                        <a href="">
                                            <img src="https://www.9918.tv/uploadfiles/s_636445319183815233.jpg" alt="">
                                        </a>
                                    </div>
                                    <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                                </div>
                                <div class="everyLasttwo">
                                    <div>
                                        <a href="">
                                            <img src="https://www.9918.tv/uploadfiles/s_636445319183815233.jpg" alt="">
                                        </a>
                                    </div>
                                    <span><a>葡萄糖过纸飞机阿发发斌</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!-- 点击获取电话 -->
            <div class="get-phone-mask">
                <div class="phone-box">
                    <p>获取电话</p>
                    <p>食品代理网电话助手</p>
                    <p>188 3958 0673</p>
                    <p>为保证服务质量请尽快拨打</p>
                    <div class="close-index">
                        返回
                    </div>
                    <div class="close-img"></div>
                </div>
            </div>
            <!-- 点击代理咨询 -->
            <div class="Agent-consultation">
                <div class="consultation-box">
                    <div class="consultation-box-tit">
                        <div class="daili-title">
                            <span>代理咨询</span>
                            <div class="close-img-liuyan"></div>
                        </div>
                    </div>
                    <div class="hint-tit">
                        请填写真实的留言信息，方便厂家及时与您取得联系！
                    </div>
                    <div class="liuyanbox-two">
                        <div class="liuyanCont">
                            <ul>
                                <li class="clearfix">
                                    <span>*</span>
                                    <span>您的姓名:</span>
                                    <input type="text" id="AgentManName" class="line_input inputName"
                                        placeholder="请输入你的姓名或昵称">
                                </li>
                                <li class="clearfix">
                                    <span>*</span>
                                    <span>联系电话:</span>
                                    <input type="text" id="AgentManName" class="line_input inputPhone"
                                        placeholder="请输入您的手机号">
                                </li>
                                <li class="clearfix">
                                    <span></span>
                                    <span>联系QQ:</span>
                                    <input type="text" id="AgentManName" class="line_input inputWei"
                                        placeholder="请输入你的常用QQ">
                                </li>
                                <li class="clearfix">
                                    <span></span>
                                    <span>回访时间:</span>
                                    <div>
                                        <input type="radio" checked="checked" name="time" class="fl" value="随时">
                                        <span>随时</span>
                                    </div>
                                    <div>
                                        <input type="radio" name="time" class="fl" value="9点-12点">
                                        <span>9点-12点</span>
                                    </div>
                                    <div>
                                        <input type="radio" name="time" class="fl" value="13点-17点">
                                        <span>13点-17点</span>
                                    </div>
                                    <div>
                                        <input type="radio" name="time" class="fl" value="18点-21点">
                                        <span>18点-21点</span>
                                    </div>
                                </li>
                                <li class="clearfix">
                                    <span>*</span>
                                    <span>代理区域:</span>
                                    <select name="province" id="province">
                                        <option value="0">请选择</option>
                                    </select>
                                    <select name="city" id="city">
                                        <option value="0">请选择</option>
                                    </select>
                                    <select name="town" id="town">
                                        <option value="0">请选择</option>
                                    </select>
                                </li>
                                <li class="clearfix">
                                    <span>*</span>
                                    <span class="backgo">留言内容:</span>
                                    <textarea name="" id="online-message" class="message-aline" cols="30"
                                        placeholder="我想代理,请来电告诉我具体细节。"></textarea>
                                </li>
                            </ul>
                        </div>
                        <div class="kuaijieliuyan leavea-message">
                            <div class="kuaijie">
                                <span>您可以根据意向选择下列</span>
                                <span>快捷留言</span>
                            </div>
                            <div class="fastSelect">
                                <ul>
                                    <li>
                                        <input type="radio" checked="checked" id="fast-one-b" name="cardsa"
                                            class="moreandone" value="我想代理,请来电告诉我具体细节。">
                                        <label for="fast-one-b">我想代理,请来电告诉我具体细节。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-two-b" name="cardsa" class="moreandone"
                                            value="我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。">
                                        <label for="fast-two-b">我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-stree-b" name="cardsa" class="moreandone"
                                            value="我想做市级代理，有多年食品、饮料销售 经验，请尽快联系我。">
                                        <label for="fast-stree-b">我想做市级代理，有多年食品、饮料销售 经验，请尽快联系我。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-four-b" name="cardsa" class="moreandone"
                                            value="我想了解产品的利润空间。">
                                        <label for="fast-four-b">我想了解产品的利润空间。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-five-b" name="cardsa" class="moreandone"
                                            value="我是专做夜场销售。">
                                        <label for="fast-five-b">我是专做夜场销售。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-six-b" name="cardsa" class="moreandone"
                                            value="我需求量大或团购。">
                                        <label for="fast-six-b">我需求量大或团购。</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="fast-seven-b" name="cardsa" class="moreandone"
                                            value="我有多年的销售经验，请尽快联系我。">
                                        <label for="fast-seven-b">我有多年的销售经验，请尽快联系我。</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="elsego">
                            <div class="clearfix">
                                <input class="fl" checked="checked" type="radio" name="OnLock" value="0">
                                <span class="fl protocol">同类厂家查看</span>
                            </div>
                            <div class="clearfix">
                                <input class="fl" type="radio" name="OnLock" value="1">
                                <span class="fl protocol">意向厂家查看</span>
                            </div>
                            <div class="clearfix">
                                <input type="checkbox" id="yinwu" style="margin-right:6px;" name="yinsi" checked="checked"
                                    value="1">我同意遵循<a href="https://www.9918.tv/about/fwtk.html" style="color:#006ed5;"
                                    target="_blank">《好酒代理网 服务条款》</a>和<a style="color:#006ed5;"
                                    href="https://www.9918.tv/about/yszc.html" target="_blank">《好酒代理网 隐私政策》</a>
                            </div>
                        </div>
                        <div class="venice modelSubmit">
                            立即咨询
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottomsyt">
            <div class="wrap_main_content">
                <footer class="container-fluid"
                    style="background-color: #FFFFFF !important; border-top: 4px solid #C60000;">
                    <div class="foot container clearfix">
                        <div class="footl fl">
                            <a href="javascript:void(0)" target="_blank"><img src="./images/foodbottomlogo.png"
                                    alt="食品代理网" class="logo2" /></a>
                            <div class="foot-list">
                                <ul class="clearfix">
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/yss.jpg" alt="食品代理网" /></div>
                                    </li>
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/hidden.jpg" alt="经销商商会" /></div>
                                    </li>
                                    <li class="fl"><a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=1425594764&amp;site=qq&amp;menu=yes"><i></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footr fl">
                            <div class="footr-bg">
                                <ul class="clearfix">
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/gywomen.html"
                                            target="_blank" rel="nofollow">关于我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/tuisonghy.html" target="_blank"
                                            rel="nofollow">服务介绍</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/ggfuwu.html"
                                            target="_blank" rel="nofollow">服务优势</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/kfzhongxin.html" target="_blank"
                                            rel="nofollow">服务细则</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="http://www.zzqtkj.cn/recruit.html"
                                            target="_blank" rel="nofollow">客服中心</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/sybangzhu.html" target="_blank"
                                            rel="nofollow">人才招聘</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/nav.html"
                                            target="_blank">站点导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/qtzz.html"
                                            target="_blank" rel="nofollow">使用帮助</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/Themes/Images/About/zizhi_2.png" target="_blank"
                                            rel="nofollow">用户协议</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/fwtiaokuan.html"
                                            target="_blank">网站导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">联系我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">青天资质</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html" target="_blank">营业执照</a>
                                    </li>
                                </ul>
                                <p class="footer-bga">
                                    技术支持：<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">郑州青天软件科技有限公司</a>-旗下网站：<a href="https://www.spdl.com"
                                        target="_blank">食品代理网</a>、<a href="https://xx.spdl.com"
                                        target="_blank">休闲食品代理网</a>、<a href="https://yl.spdl.com"
                                        target="_blank">饮料饮品代理网</a>、<a href="https://hj.spdl.com"
                                        target="_blank">酒水代理网</a>、<a href="https://twp.spdl.com"
                                        target="_blank">调味料代理网</a>、<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">青天软件</a><i></i>
                                </p>
                                <p class="footer-bga">版权所有：食品代理网 Copyright © 2013-2025 <a target="_blank"
                                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41010502002234"
                                        rel="nofollow">豫公网安备 41010502002234号</a>
                                    <span>增值电信业务经营许可证:B2-20160114</span>　备案:<a href="https://beian.miit.gov.cn"
                                        target="_blank" rel="nofollow">豫ICP备14027272号-1</a> <a>《网络服务使用协议》</a>
                                </p>
                                <p class="footer-bga">
                                    免责声明：本站是专业提供 食品代理、食品招商、饮料代理、饮料招商等网络信息平台，本网站只起到信息平台作用，不为交易经过负任何责任，请双方谨慎交易，以确保您的权益。
                                </p>

                                <div class="safe_info">
                                    <script language="javascript" type="text/javascript"
                                        src="./js/indexfoot.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/indexDetails.js"></script>
</body>
</html>