<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../Themes/css/TopStyle.css">
    <link rel="stylesheet" href="../Themes/css/BottomStyle.css">
    <link rel="stylesheet" href="../Themes/css/tangjiuzhanhui.css">
</head>

<body>
    <!-- Enterprise library -->
    <div class="library">
        <div class="container-topone">
            <div class="containerTop-cont">
                <div class="containerTop-left">
                    <div>欢迎来到秒火食品招商网!</div>
                    <div><a href="javascript:void(0)">请登录</a></div>
                    <div><a href="javascript:void(0)">免费注册</a></div>
                </div>
                <div class="containerTop-right">
                    <ul>
                        <li><a href="javascript:void(0)" target="_blank">网站地图</a></li>
                        <li><a href="javascript:void(0)" target="_blank">网站导航</a></li>
                        <li><a href="javascript:void(0)" target="_blank">关于我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- serach -->
        <div class="container-toptwo">
            <div class="web-logo">
                <img src="./images/weblogo.png" alt="">
            </div>
            <div class="web-search">
                <div class="serach-box">
                    <input type="text">
                    <div><a href="asd">搜索</a></div>
                    <div class="hot-search">
                        <ul>
                            <li class="active-color-red">热门搜索：</li>
                            <li>益生菌</li>
                            <li>重庆酸辣粉</li>
                            <li class="active-color-red">大窑汽水</li>
                            <li>椰子汁</li>
                            <li>蔬菜果汁</li>
                            <li>自热小火锅</li>
                            <li>维生素饮料</li>
                        </ul>
                    </div>
                    <div class="hot-searchCont">2023爆款饮料</div>
                    <div class="Fast-entry"><a href="asd">快速入驻</a></div>
                </div>
            </div>
        </div>
        <!--  navigation bar -->
        <div class="navigation-bar">
            <div class="navigation-cont">
                <ul>
                    <li><a href="javascript:void(0)" target="_blank">首页</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品招商</a></li>
                    <li><a href="javascript:void(0)" target="_blank">饮料招商</a></li>
                    <li><a class="active-navigat" href="javascript:void(0)" target="_blank">糖酒展会</a></li>
                    <li><a href="javascript:void(0)" target="_blank">产品库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">企业库</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品价格</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品百科</a></li>
                    <li><a href="javascript:void(0)" target="_blank">食品资讯</a></li>
                </ul>
            </div>
        </div>
        <!--Enterprise library content  -->
        <div class="library-cont">
            <!-- left-->
            <div class="cont-left">
                <div class="cont-left-top">
                    <div></div>
                    <div>
                        糖酒展会列表
                    </div>
                </div>
                <!-- Loop content -->
                <div class="Loop-cont">
                    <ul>
                        <li>
                            <div class="Loop-cont-img" >
                                <img src="./images/product.png" alt="">
                            </div>
                            <div class="contLoop">
                                <p><a href="javascript:void(0)" target="_blank">2023第三十二届深圳国际酒店及餐饮业博览会</a></p>
                                <p>展会时间：2023-12-14 至 2023-12-16</p>
                                <p>展会地点：深圳国际会展中心</p>
                                <p>联系电话：13124768636　张宇</p>
                            </div>
                        </li>
                        <li>
                            <div class="Loop-cont-img" >
                                <img src="./images/product.png" alt="">
                            </div>
                            <div class="contLoop">
                                <p><a href="javascript:void(0)" target="_blank">2023第三十二届深圳国际酒店及餐饮业博览会</a></p>
                                <p>展会时间：2023-12-14 至 2023-12-16</p>
                                <p>展会地点：深圳国际会展中心</p>
                                <p>联系电话：13124768636　张宇</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- right -->
            <div class="cont-right">
                <div class="cont-right-top">推荐展会信息</div>
                <div class="cont-titcont">
                    <ul>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                    </ul>
                </div>
            </div>
            <!-- jinqizhanhui -->
            <div class="cont-right jinqi">
                <div class="cont-right-top">近期展会信息</div>
                <div class="cont-titcont">
                    <ul>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                        <li><a href="javascript:void(0)" target="_blank">&#X3000;2023第5届深圳国际餐饮食材展览会</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- bottom -->
        <div class="bottomsyt">
            <div class="wrap_main_content">
                <footer class="container-fluid"
                    style="background-color: #FFFFFF !important; border-top: 4px solid #C60000;">
                    <div class="foot container clearfix">
                        <div class="footl fl">
                            <a href="javascript:void(0)" target="_blank"><img src="./images/foodbottomlogo.png"
                                    alt="食品代理网" class="logo2" /></a>
                            <div class="foot-list">
                                <ul class="clearfix">
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/yss.jpg" alt="食品代理网" /></div>
                                    </li>
                                    <li class="fl foot-ewm"><i></i>
                                        <div class="foot-ewm-pic dn"><img src="./images/hidden.jpg" alt="经销商商会" /></div>
                                    </li>
                                    <li class="fl"><a target="_blank"
                                            href="http://wpa.qq.com/msgrd?v=3&amp;uin=1425594764&amp;site=qq&amp;menu=yes"><i></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footr fl">
                            <div class="footr-bg">
                                <ul class="clearfix">
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/gywomen.html"
                                            target="_blank" rel="nofollow">关于我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/tuisonghy.html" target="_blank"
                                            rel="nofollow">服务介绍</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/ggfuwu.html"
                                            target="_blank" rel="nofollow">服务优势</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/kfzhongxin.html" target="_blank"
                                            rel="nofollow">服务细则</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="http://www.zzqtkj.cn/recruit.html"
                                            target="_blank" rel="nofollow">客服中心</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/sybangzhu.html" target="_blank"
                                            rel="nofollow">人才招聘</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/nav.html"
                                            target="_blank">站点导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl" href="https://www.spdl.com/about/qtzz.html"
                                            target="_blank" rel="nofollow">使用帮助</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/Themes/Images/About/zizhi_2.png" target="_blank"
                                            rel="nofollow">用户协议</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/fwtiaokuan.html"
                                            target="_blank">网站导航</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">联系我们</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html"
                                            target="_blank">青天资质</a><span class="fl line"></span>
                                    </li>
                                    <li class="fl clearfix"><a class="fl"
                                            href="https://www.spdl.com/about/yinsibaohu.html" target="_blank">营业执照</a>
                                    </li>
                                </ul>
                                <p class="footer-bga">
                                    技术支持：<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">郑州青天软件科技有限公司</a>-旗下网站：<a href="https://www.spdl.com"
                                        target="_blank">食品代理网</a>、<a href="https://xx.spdl.com"
                                        target="_blank">休闲食品代理网</a>、<a href="https://yl.spdl.com"
                                        target="_blank">饮料饮品代理网</a>、<a href="https://hj.spdl.com"
                                        target="_blank">酒水代理网</a>、<a href="https://twp.spdl.com"
                                        target="_blank">调味料代理网</a>、<a href="http://www.zzqtkj.cn" target="_blank"
                                        rel="nofollow">青天软件</a><i></i>
                                </p>
                                <p class="footer-bga">版权所有：食品代理网 Copyright © 2013-2025 <a target="_blank"
                                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41010502002234"
                                        rel="nofollow">豫公网安备 41010502002234号</a>
                                    <span>增值电信业务经营许可证:B2-20160114</span>　备案:<a href="https://beian.miit.gov.cn"
                                        target="_blank" rel="nofollow">豫ICP备14027272号-1</a> <a>《网络服务使用协议》</a>
                                </p>
                                <p class="footer-bga">
                                    免责声明：本站是专业提供 食品代理、食品招商、饮料代理、饮料招商等网络信息平台，本网站只起到信息平台作用，不为交易经过负任何责任，请双方谨慎交易，以确保您的权益。
                                </p>

                                <div class="safe_info">
                                    <script language="javascript" type="text/javascript"
                                        src="./js/indexfoot.js"></script>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>