.container_fild {
    background: #F7F7F7;
}


body {
    font-size: 14px;
    font-family: 'Microsoft Yahei';
}



.current_position>span {
    color: #595959;
}

.pding {
    padding: 0px 4px;
}

.nav_content>li>a {
    text-align: center !important;
}

.active_sear {
    color: #FF3300 !important;
}

.nav_active>a {
    color: #CD3000 !important;
}

.nav>ul {
    width: 1200px;
}

.nav_content {
    margin-left: 0 !important;
}

.nav_active {
    background-color: #ffd200;
}

.active_type {
    background: #FFE9E3 !important;
    border: 1px solid #F2F2F2 !important;
    font-weight: bold !important;
    color: #FF4000 !important;
}

.list_type {
    width: 100%;
    overflow: hidden;
    background: #F7F7F7;
}

.nav_hot_index {
    background: #F5F5F5 !important;
    border: 1px solid #E4E4E4;
}

.list_types {
    width: 100%;
    overflow: hidden;
}

.current_position {
    width: 1200px;
    margin: 10px auto;
    height: 34px;
    line-height: 34px;
    padding-left: 10px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
}

.type_box {
    width: 1200px;
    margin: 10px auto;
}

.type_box>ul:nth-of-type(1) {
    width: 1200px;
    background: #F5F5F5;
}

.type_box>ul>li {
    width: 160px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #F5F5F5;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    border-left: 1px solid #FFFFFF;
}


.content_fd>ul>li>a {
    font-weight: 400;
    color: #595959;
    font-size: 14px;
}

.click_mores {
    width: 70px;
    height: 24px;
    background: #F8F8F8;
    border: 1px solid #F2F2F2;
    font-weight: 400;
    color: #595959;
    font-size: 14px;
    margin-left: -6px;
    margin-top: 6px;
    cursor: pointer;
}

.click_mores>i {
    width: 10px;
    height: 8px;
    background: url(../images/xiajiantou.png) no-repeat;
    background-size: 100%;
    margin-left: 5px;
}

.two_type_nr>ul {
    background: #F5F5F5;
}

.two_type_nr>ul>li {
    width: 160px;
    height: 34px;
    text-align: center;
    line-height: 34px;
}

.content_fd {
    margin-left: 10px;
    line-height: 26px;
    margin-top: 5px;
    overflow: hidden;
    width: 890px;
}

.two_type_nr>ul>li:not(:last-child) {
    border-right: 1px solid #FFFFFF;
}

.food_lx {
    margin-left: 10px;
    width: 76px;
}

.click_more>i {
    width: 10px;
    height: 8px;
    background: url(../images/xiajiantou.png) no-repeat;
    background-size: 100%;
    margin-left: 5px;
}


.active_gq {
    background: #FF6600;
}

.content_fd>ul>li {
    padding: 0px 7px;
}

.active_gq>a {
    color: #FFFFFF !important;
}

.segional_search>ul {
    width: 1000px;
    height: 33px;
    overflow: hidden;
    margin-top: 4px;
}

.segional_search>ul>li {
    line-height: 28px;
}

.segional_search>ul>li>a {
    font-weight: 400;
    color: #595959;
    font-size: 14px;
    padding: 0px 10px;
}



.confirm_pi {
    width: 40px;
    height: 22px;
    border-radius: 3px;
    text-align: center;
    background: #ffa77a;
    line-height: 22px;
    text-align: center;
    margin-top: 9px;
    color: #FFFFFF;
    margin-left: 7px;
}

.confirm_null {
    width: 40px;
    height: 22px;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    text-align: center;
    margin-top: 9px;
    color: #333333;
}

.product_mes {
    width: 1200px;
    height: 40px;
    background: #FFE9E3;
    border: 1px solid #FFDCD2;
    padding: 0px 20px;
    margin-top: 13px;
}

.number_pro {
    color: #FF3300 !important;
}

.product_mes>div:nth-of-type(1) {
    font-weight: 400;
    color: #FF3300;
    font-size: 24px;
}

.product_mes>div:nth-of-type(2) {
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

.correlation_search {
    width: 1200px;
    height: 34px;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
}

.correlation_search>ul {
    height: 34px;
    padding-left: 18px;
}

.correlation_search>ul>li:nth-of-type(1) {
    font-weight: bold;
    color: #333333;
    font-size: 14px;
}

.correlation_search>ul>li:not(:first-child) {
    padding: 0px 8px;
}

.correlation_search>ul>li>a {
    color: #484848;
}


produ_show {
    width: 1200px;
    margin: 17px auto;
}

.type_list_left {
    width: 920px;
    background: #FFFFFF;
}

.type_list_left>div:nth-of-type(1) {
    width: 920px;
    height: 33px;
    line-height: 28px;
    background: linear-gradient(to bottom, #ffe9e3, white);
    border-top: 2px solid #FF3300;

}

.pro_msg {
    width: 338px;
    padding-left: 18px;
    font-size: 12px;
    box-sizing: border-box;
}

.pro_msg>p {
    width: 338px;
}

.pro_msg>div>p {
    color: #888888;
}

.pro_msg>div>p>a {
    color: #333;
}

.produ_show {
    width: 1200px;
    margin: 0 auto;
}

.pro_msg>p:nth-of-type(2)>a {
    font-weight: 400;
    color: #888888;
    font-size: 12px;
}

.type_list_left>div:nth-of-type(1)>div {
    font-weight: bold;
    color: #262626;
    font-size: 14px;
}


.product_details {
    width: 918px;
    padding-left: 23px;
}

.pro_img {
    width: 142px;
    height: 95px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.product_details>li {
    height: 131px;
    padding: 10px;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #E7E7E7;
}

.pro_img>a {
    display: block;
    width: 142px;
    height: 95px;
}

.pro_img>a>img {
    width: 100%;
    height: 100%;
}

.pro_msg>p:nth-of-type(1)>a {
    font-weight: bold;
    color: #262626;
    font-size: 16px;
    display: block;
    width: auto;
    max-width: 260px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pro_msg>div {
    width: 338px;
    margin-top: 7px;
}

.pro_msg>div>p {
    line-height: 19px;
}



.pro_t {
    font-weight: 400;
    color: #888888;
    font-size: 12px;
}

.xqcr {
    color: #FF3300;
}

.jstit {
    color: #333333;
    font-weight: 400;
}

.type_list_content>div:nth-of-type(1) {
    margin-top: 8px;
}

.pro_pla {
    width: 100px;
    margin-left: 38px;
    text-align: center;
}

.pro_lus {
    width: 100px;
    margin-left: 45px;
}

.pro_lus>a {
    background: url(/Themes/images/index_news/phone_us.png) no-repeat 0px 0px;
    padding-left: 20px;
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

.me_msg {
    width: 75px;
    margin-left: 35px;
}

.me_msg>a {
    width: 71px;
    height: 25px;
    border-radius: 4px;
    display: block;
    line-height: 25px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.newDiv {
    position: fixed;
    width: 100%;
    height: 100px;
    background: #FFFFFF;
    top: 0;
}

.me_msg>a:nth-of-type(1) {
    background: #FFFFFF;
    border: 1px solid #FF6666;
    color: #FF3300;
}

.me_msg>a:nth-of-type(2) {
    background: #FF3300;
    color: #FFFFFF;
    margin-top: 7px;
}

.pro_msg>div>p>a>span {
    color: #FF4000;
}

.newpage {
    width: 630px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 20px;
}

.newpage ul li {
    margin-right: 5px;
    line-height: 40px;
}

.newpage ul li a {
    display: inline-block;
    padding: 0 15px;
    color: #333;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    text-decoration: none;
}

.newpage ul li.select a,
.newpage ul li a:hover {
    color: #fff !important;
    border-color: #f14f02;
    background: #f14f02;
}

.newpage ul li input {
    width: 42px;
    height: 42px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    outline: none;
    text-align: center;
}


.type_list_right {
    width: 258px;
}

.type_list_right>div:not(:first-child) {
    margin-top: 16px;
}

.every_last {
    width: 258px;
}

.every_last>div:nth-of-type(1) {
    width: 258px;
    height: 35px;
    background: #FFE9E3;
    padding: 10px;
}

.every_last>div:nth-of-type(1)>div:nth-of-type(1) {
    padding-left: 10px;
    font-weight: bold;
    color: #333333;
    font-size: 14px;
    position: relative;
}

.every_last>div:nth-of-type(1)>div:nth-of-type(1)::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    width: 3px;
    height: 14px;
    background: #FF3300;
}

.every_last>div:nth-of-type(1)>div:nth-of-type(2) {
    width: 51px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    background: #FFFFFF;
    border-radius: 18px;
}

.manufacturers {
    width: 258px;
    background: #FFFFFF;
    padding: 10px;
}

.manufacturers>li {
    padding-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin-top: 8px;
}

.manufacturers>li::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #0000008a;
}

.manufacturers>li>a {
    font-weight: 400;
    color: #333333;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}


.pro_may {
    width: 1150px;
}

.pro_may>li {
    width: 258px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 7px;
}

.pro_may>li>a {
    color: #595959;
}

.may_pro:last-child {
    margin-bottom: 15px;
}

.may_box {
    margin-bottom: 15px;
}

a:hover {
    color: #FF3300 !important;
}

.searching_more {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1067px;
    height: 26px;
    background: #fff5f2;
    margin: 6px auto;
    cursor: pointer;
}

.searching_more>i {
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/two_blow.png) no-repeat;
    background-size: 100%;
}

.searching_more>span {
    font-weight: 400;
    color: #FF6600;
    font-size: 14px;
    margin-left: 5px;
}

.yc_box {
    height: 26px;
}

.main_content {
    width: 1200px;
    margin: 10px auto;
}

.main_content>div:not(:nth-of-type(1)) {
    margin-top: 13px;
}

.public_bx {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 23px 15px 23px 23px;
    background: #FFFFFF;
}

.main_content>.public_bx>div:nth-of-type(1) {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.main_content>.public_bx>div:nth-of-type(1)::before {
    position: absolute;
    content: "";
    bottom: -9px;
    left: 0;
    width: 1200px;
    height: 1px;
    background: #EEEEEE;
}

.main_content>.public_bx:nth-of-type(1)>div:nth-of-type(1)>i {
    background: url(../images/shipinlei.png) no-repeat 100%;
    width: 22px;
    height: 21px;
}

.main_content>.public_bx:nth-of-type(2)>div:nth-of-type(1)>i {
    background: url(../images/drink_bac.png) no-repeat 100%;
    width: 20px;
    height: 24px;
}

.main_content>.public_bx:nth-of-type(3)>div:nth-of-type(1)>i {
    background: url(../images/jiushui_bac.png) no-repeat 100%;
    width: 26px;
    height: 28px;
}

.main_content>.public_bx:nth-of-type(4)>div:nth-of-type(1)>i {
    background: url(../images/twp_bac.png) no-repeat 100%;
    width: 24px;
    height: 24px;
}

.main_content>.public_bx>div:nth-of-type(1)>span {
    font-weight: bold;
    color: #FF4000;
    font-size: 22px;
    margin-left: 12px;
}


.content_lx {
    margin-top: 30px;
    display: flex;
    justify-content: start;
}


.content_lx>span {
    font-weight: bold;
    color: #666666;
    display: block;
    width: 45px;
    line-height: 28px;
}


.content_lx>ul {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-sizing: border-box;
}

.content_lx>ul>li {
    padding: 0px 10px;
    box-sizing: border-box;
    line-height: 28px;
}



.content_lx>ul>li>a {
    font-weight: bold;
    color: #282828;
    font-size: 14px;
}


/* 新增新增新增新增新增新增新增新增新增新增新增新增新增 */
/* 新增新增新增新增新增新增新增新增新增新增新增新增新增 */
/* 新增新增新增新增新增新增新增新增新增新增新增新增新增 */
.content_txt {
    margin-top: 0px;
    display: flex;
    justify-content: start;
}

.content_txt>ul>li>a {
    font-weight: 400;
    color: #595959;
    font-size: 14px;
}

.content_txt>ul>li {
    padding: 0px 10px;
    box-sizing: border-box;
    line-height: 28px;
}

.content_txt>span {
    font-weight: bold;
    color: #666666;
    display: block;
    width: 45px;
    line-height: 28px;
}

.content_txt>ul {
    width: 1110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    box-sizing: border-box;
}

.search {
    width: 1200px;
    margin: 0 auto;
    padding: 17px 0px;
}

.logo_box {
    height: 242px;
    height: 61px;
    position: relative;
}

.logo_box::before {
    position: absolute;
    content: "";
    background: #00000026;
    width: 1px;
    height: 52px;
    right: -19px;
    top: 8px;
}

.logo_box>a {
    display: block;
    width: 100%;
    height: 100%;
}

.logo_box>a>img {
    width: 100%;
    height: 100%;
}

.searchbox {
    position: relative;
    margin: 6px 0 1px;
    width: 560px;
    height: 38px;
    border: 2px solid #FF3300;
    line-height: 38px;
}



.search_type>div:not(:nth-of-type(1)) {
    margin-left: 32px;
}

.contact {
    width: 181px;
    height: 66px;
    background: #EEEEEE;
    border: 1px solid #DCDCDC;
    box-sizing: border-box;
    padding: 0px 3px;
}

.page_title {
    font-weight: bold;
    color: #444444;
    font-size: 23px;
    display: block;
    display: flex;
    align-items: center;
}

.contact>img {
    width: 38px;
    height: 38px;
}

.contact>div>p:nth-of-type(1) {
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

.contact>div>p:nth-of-type(2) {
    font-weight: 400;
    color: #FF4000;
    font-size: 20px;
    font-family: Arial;
}

.search_box {
    height: auto;
    background: #FFFFFF;
}

.searchbox>input {
    border: none;
    height: 100%;
    width: 365px;
    font-weight: 400;
    color: #666666;
    font-size: 14px;
    padding-left: 7px;
}

.searchbox>input:focus {
    border: none;
    outline: none;
    color: #666;
}

.searchbox>button {
    width: 84px;
    height: 38px;
    background: #FF3300;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.hot_sech>a {
    width: 59px;
    height: 22px;
    background: #fff0e7;
    font-weight: 400;
    color: #666666;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    display: block;
}

.hot_sech>a:not(:nth-of-type(1)) {
    margin-left: 4px;
}

.hot_sech {
    height: 100%;
    background: #FFFFFF;
}

.hot_sech>a:nth-of-type(3) {
    margin-right: 4px;
}

.top_one>ul>li:hover a {
    color: #FF4000;
}

.hot_sech>a:nth-of-type(1) {
    margin-left: 20px;
}

.exhibit_con>ul>li:hover a {
    color: #FF4000;
}

/* 以下为搜索的样式 */
.search_record {
    position: absolute;
    left: -2px;
    top: 35px;
    width: 575px !important;
    max-height: 180px;
    background: #fff;
    border: 2px solid #f30;
    padding: 10px 20px;
    z-index: 9999;
    display: none;
}

.menber_years>span {
    text-align: center;
    display: block;
    height: 15px;
    font-size: 12px;
    line-height: 15px;
}

.menber_years>span:nth-of-type(1) {
    width: 35px;
    background: #FF4000;
    font-weight: 400;
    color: #FFFFFF;
}

.menber_years>span:nth-of-type(2) {

    width: 35px;
    height: 15px;
    background: #FFF6E3;
    color: #E80100;
    border: 1px solid #E80100;
}











/*  */
/*  */
/*  */

body {
    background: #FFF;
}

.search_content {
    background: #FFF;
    box-sizing: border-box;
    padding-bottom: 30px;
}

.related_title {
    width: 1200px;
    height: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: right;
    align-items: center;
}

.related_title>span {
    font-weight: 400;
    color: #888888;
    font-size: 14px;
}

.content_result {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.result_left {
    width: 885px;
    border-right: 1px solid #EDEDED;
}



.result_left>ul>li {
    width: 820px;
    position: relative;
}

.result_left>ul>li>a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2440B3;
    font-size: 18px;
}

.result_left>ul>li>a>span {
    color: #FF0000 !important;
    font-size: 18px;
}

.result_left>ul>li>div {
    width: 840px;
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.result_left>ul>li>div>a {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 10px;
    overflow: hidden;
}

.result_left>ul>li>div>a>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.result_left>ul>li>div>div:nth-of-type(1) {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 720px;
    box-sizing: border-box;
    padding-top: 6px;
    position: relative;
}

.result_left>ul>li>div>div:nth-of-type(1)>a {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #888888;
    font-size: 13px;
}

.result_left>ul>li>div>div:nth-of-type(1)>a>span {
    color: #444444;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.type_put {
    width: 720px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.type_put>div:not(:first-child) {
    margin-left: 15px;
}

.type_put>div {
    color: #888888;
    font-size: 13px;
}

.type_put>div>span {
    color: #444444;
    font-size: 13px;
}

.yeied_com {
    display: flex;
    justify-content: start;
    align-items: center;
}

.yeied_com>a {
    color: #888888;
    font-size: 13px;
}

.yeied_com>a>span {
    color: #444444;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.yeied_com>div {
    width: 45px;
    height: 20px;
    line-height: 20px;
    padding-left: 21px;
    box-sizing: border-box;
    background: url(../images/memberv.png);
    background-repeat: no-repeat;
    background-size: 100%;
    font-weight: 400;
    font-style: italic;
    color: #C65D1A;
    font-size: 12px;
    margin-left: 5px;
}

.bot_ades {
    position: absolute;
    bottom: 7px;
    left: 0;
    display: flex;
    justify-content: start;
}

.bot_ades>a:nth-of-type(2) {
    margin-left: 9px;
}

.bot_ades>span {
    margin-left: 13px;
}

.wangzhi {
    font-weight: 400;
    color: #008000;
    font-size: 12px;
}

.lk_details {
    font-size: 12px;
    font-weight: 400;
    color: #0000CC;
}

.bot_ades>span {
    font-weight: 400;
    color: #F50305;
    font-size: 12px;
}

.type_put,
.yeied_com {
    margin-top: 2px;
}

.result_left>ul>li:not(:first-child) {
    margin-top: 24px;
}

.result_left>ul>li:not(:last-child)::before {
    position: absolute;
    content: "";
    bottom: -14px;
    left: 0;
    width: 859px;
    height: 1px;
    background: #EDEDED;

}

.result_left>ul {
    padding-bottom: 15px;
    box-sizing: border-box;
}

.result_right {
    width: 310px;
    font-weight: bold;
    color: #444444;
    padding: 0 7px 0 20px;
    box-sizing: border-box;
}

.result_right>ul {
    margin-top: 22px;

}

.result_right {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.result_right>ul,
.result_right>ul>li {
    width: 100%;
}

.result_right>ul>li>a:nth-of-type(1) {
    font-weight: 400;
    color: #2440B3;
    font-size: 16px;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result_right>ul>li>span {
    color: #444444;
    font-size: 13px;
    font-weight: 400;
}

.result_right>ul>li>span:nth-of-type(1) {
    display: block;
    margin-top: 12px;
}

.result_right>ul>li>a:nth-of-type(2) {
    font-weight: 400;
    color: #008000;
    font-size: 12px;
    display: block;
    margin-top: 4.5px;
}

.result_right>ul>li:not(:first-child) {
    margin-top: 28px;
}

.corre_lation {
    width: 1200px;
    margin: 0 auto;
}

.corre_lation>p {
    font-weight: bold;
    color: #363636;
    font-size: 16px;
    padding-left: 15px;
    box-sizing: border-box;
    position: relative;
}

.corre_lation>p::before {
    position: absolute;
    content: "";
    top: 2px;
    left: 0;
    width: 5px;
    height: 19px;
    background: #F14F02;
    border-radius: 3px;
}

.corre_lation>ul {
    margin-top: 10px;
    padding: 23px 0px 24px 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    background: #F8F8F8;
}
.corre_lation>ul>li{
    padding:0px 10px 0px 30px;
    line-height: 26px;
}
.corre_lation>ul>li>a {
    font-weight: 400;
    color: #444444;
    font-size: 14px;
   
}