/* 公共css */
* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none
}

a {
    cursor: pointer
}

body {
    font-size: 14px;
    background: #f2f2f2;
    font-family: 'Microsoft Yahei'
}

a {
    color: #666
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    zoom: 1
        /*! 清除浮动 兼容IE6、7*/
}

.fl {
    float: left
}

.fr {
    float: right
}

.disCenter {
    display: flex;
    justify-content: center;
}

.disSbet {
    display: flex;
    justify-content: space-between
}

.disSa {
    display: flex;
    justify-content: space-around
}

.disFdc {
    display: flex;
    flex-direction: column
}

.aitem {
    align-items: center
}

.fw {
    flex-wrap: wrap
}

.disStart {
    display: flex;
    justify-content: start
}

.disInb {
    display: inline-block;
    vertical-align: top
}

/* 以上为公共css */
a:hover {
    color: #FF3000;
}

.nav>ul {
    width: 1190px;
}

.nav_content {
    margin-left: 0 !important;
}

.nav_content>li>a {
    text-align: center !important;
}

.nav_active {
    background-color: #ffd200;
}

.nav_active>a {
    color: #CD3000 !important;
}

.page_tit {
    font-weight: bold;
    color: #E71B12;
    font-size: 30px;
    font-weight: bold;
    width: 90px;
    height: 30px;
    margin: 13px 0 0 10px;
}

.search {
    margin-left: 20px !important;
    margin-top: 12px !important;
    width: 571px !important;
}

.search_antistop {
    margin-left: -34px;
}

.hotline_box {
    margin-top: 1px !important;
    margin-left: 5px !important;
}

.more {
    width: 70px;
    height: 22px;
    background: #FF7D6B;
    border-radius: 2px;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 14px;
    display: block;
    line-height: 22px;
    text-align: center;
}

.search_region {
    font-weight: bold;
    color: #262626;
    font-size: 16px;
    position: relative;
    padding-left: 11px;
}


.region_small>div>a {
    padding-left: 6px;
}



.region_small {
    width: 205px;
}

.region {
    font-weight: bold;
    color: #262626;
    font-size: 14px;
    width: 30px;
}


.enterprise {
    width: 100%;
    background: #FFFFFF;
    padding-bottom: 5px;
}

.enterprise_below {
    width: 1190px;
    height: 387px;
    margin: 15px auto;
}

.enterprise_z {
    width: 220px;
    height: 387px;
}

.enterprise_z>div:nth-of-type(1) {
    width: 220px;
    height: 40px;
    padding: 10px;
}

.enterprise_z>div:nth-of-type(2) {
    width: 220px;
    height: 347px;
    position: relative;
}

.food_top_n {
    background: #289DD0;
}

.drinks_top_n {
    background: #54CF87;
}

.booze_top_n {
    background: #C754CB;
}

.seasoning_top_n {
    background: #EF4D25;
}

.huoguo_top_n {
    background: #CBBD4E;
}

.food_back {
    background: url(../images/food_z_bac.png) no-repeat 100% 100%;
}

.drinks_back {
    background: url(../images/drink_bac.png) no-repeat 100% 100%;
}

.booze_back {
    background: url(../images/booze.png) no-repeat 100% 100%;
}

.seasoning_back {
    background: url(../images/seasoning.png) no-repeat 100% 100%;
}

.huoguo_back {
    background: url(../images/huoguo.png) no-repeat 100% 100%;
}

.enterprise_z>div:nth-of-type(1)>div:nth-of-type(2) {
    width: 47px;
}

.enterprise_z>div:nth-of-type(1)>div:nth-of-type(2)>i {
    display: block;
    width: 14px;
    height: 14px;
    background: url(../images/leftt.png) no-repeat 100% 100%;
}

.enterprise_z>div:nth-of-type(1)>div:nth-of-type(1) {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 18px;
}

.enterprise_z>div:nth-of-type(1)>div:nth-of-type(2)>a {
    font-weight: 400;
    color: #FFFFFF;
    font-size: 12px;
}

.enterprise_z>div:nth-of-type(2)>div {
    padding: 0 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    width: 221px;
}

.enterprise_z>div:nth-of-type(2)>div>a {
    background: #F5F6F6;
    border: 1px solid #FFFFFF;
    width: 94px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #F5F6F6;
    border: 1px solid #FFFFFF;
    margin-top: 5px;
}

.enterprise_z>div:nth-of-type(2)>div>a:nth-of-type(2),
.enterprise_z>div:nth-of-type(2)>div>a:nth-of-type(4) {
    margin-left: 10px;

}

.enterprise_m {
    width: 715px;
    height: 387px;
    background: #FFFFFF;
    border-top: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    padding: 0px 22px;
}

.enterprise_m_top>ul {
    width: 715px;
    height: 45px;
    line-height: 45px;
}

.enterprise_m_top>ul>li>a {
    font-weight: 400;
    color: #333333;
    font-size: 14px;
}

.enterprise_m_top>ul>li:not(:first-child) {
    margin-left: 36px;
}

.active_p {
    position: relative;
}

.active_p::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: #FF4400;
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
}

.active_p {
    font-weight: bold !important;
    color: #FF4400 !important;
}

.enterprise_m_top>ul>li {
    position: relative;
}

.enterprise_m_top>ul>li:not(:last-child)::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 13px;
    background: #DFDFDF;
    top: 18px;
    right: -16px;
}

.content_pub {
    width: 680px;
    height: 342px;
}

.content_pub>ul>li {
    width: 302px;
}

.years_1 {
    width: 40px;
    height: 16px;
    background: url(../images/years_1.png) no-repeat 100% 100%;
}

.years_2 {
    width: 40px;
    height: 16px;
    background: url(../images/years_2.png) no-repeat 100% 100%;
}

.years_3 {
    width: 40px;
    height: 16px;
    background: url(../images/years_3.png) no-repeat 100% 100%;
}

.years_4 {
    width: 40px;
    height: 16px;
    background: url(../images/years_4.png) no-repeat 100% 100%;
}

.years_5 {
    width: 40px;
    height: 16px;
    background: url(../images/years_5.png) no-repeat 100% 100%;
}

.years_6 {
    width: 40px;
    height: 16px;
    background: url(../images/years_6.png) no-repeat 100% 100%;
}

.years_7 {
    width: 40px;
    height: 16px;
    background: url(../images/years_7.png) no-repeat 100% 100%;
}

.years_8 {
    width: 40px;
    height: 16px;
    background: url(../images/years_8.png) no-repeat 100% 100%;
}

.years_9 {
    width: 40px;
    height: 16px;
    background: url(../images/years_9.png) no-repeat 100% 100%;
}

.years_10 {
    width: 46px;
    height: 15px;
    background: url(../images/years_10.png) no-repeat 100% 100%;
}

.years_11 {
    width: 46px;
    height: 15px;
    background: url(../images/years_11.png) no-repeat 100% 100%;
}

.years_12 {
    width: 46px;
    height: 15px;
    background: url(../images/years_12.png) no-repeat 100% 100%;
}

.years_13 {
    width: 46px;
    height: 15px;
    background: url(../images/years_13.png) no-repeat 100% 100%;
}

.content_pub>ul>li>p:nth-of-type(1) {
    margin-top: 6px;
}

.content_pub>ul>li>p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    font-weight: 400;
    color: #999999;
    font-size: 14px;
}

.content_pub>ul>li {
    margin-top: 15px;
}

.content_pub>ul>li:nth-child(even) {
    margin-left: 55px;
}

.content_pub>ul>li>div>span {
    font-weight: bold;
    color: #262626;
    font-size: 14px;
}

.enterprise_y {
    width: 256px;
    height: 387px;
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-sizing: border-box;
}

.enterprise_y_titlt {
    width: 256px;
    padding: 10px;
    line-height: 25px;
    height: 40px;
    background: #FFFFFF;
    border-bottom: 1px solid #EDEDED;
    font-weight: 400;
    color: #333333;
    font-size: 16px;
    border-right: 1px solid #EDEDED;
    box-sizing: border-box;
}

.news_firm>li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 9px;
}

.news_firm>li>a {
    margin-left: 21px;
    font-weight: 400;
    color: #595959;
    font-size: 14px;
    position: relative;
}

.news_firm>li>a::before {
    position: absolute;
    content: "";
    top: 8px;
    left: -7px;
    width: 4px;
    height: 4px;
    background: #FF4400;
    border-radius: 50%;
}

.pro_indexes {
    margin: 15px auto;
    width: 1190px;
    height: 38px;
    background: #FFFFFF;
}

.indexes_left {
    width: 146px;
    height: 38px;
    background: #ff997f;
}

.indexes_right {
    width: 1044px;
    height: 38px;
}

.indexes_right>ul {
    width: 1044px;
    height: 38px;
}

.indexes_right>ul>li {
    height: 38px;
    line-height: 38px;
    padding: 0px 13px;
}

.indexes_right>ul>li>a {
    font-weight: bold;
    color: #666666;
    font-size: 14px;
}

.indexes_left>i {
    background: url(../images/search.png) no-repeat 100% 100%;
    display: block;
    width: 21px;
    height: 23px;
}

.indexes_left>span {
    font-weight: bold;
    color: #F9F9F9;
    font-size: 16px;
    margin-left: 6px;
}

.enterprise_box {
    margin: 15px auto;
    width: 1190px;
    height: 444px;
}

/* news 企业库 */

.enter_l {
    width: 250px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px -1px 3px 1px #00000030;
}

.category {
    width: 250px;
    height: 36px;
    line-height: 36px;
    background: #FFF0E7;
    border-radius: 4px 4px 0px 0px;
    font-weight: bold;
    color: #FF3300;
    font-size: 15px;
    position: relative;
    padding-left: 20px;
}

.category::before {
    position: absolute;
    content: "";
    top: 11px;
    left: 10px;
    width: 4px;
    height: 15px;
    background: #FF3300;
}

.category_box>li:nth-of-type(1)>.youjiantou,
.category_box>li:nth-of-type(2)>.youjiantou,
.category_box>li:nth-of-type(3)>.youjiantou,
.category_box>li:nth-of-type(4)>.youjiantou,
.category_box>li:nth-of-type(5)>.youjiantou {
    background: url(../images/youjiantou.png) no-repeat 100%;
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    right: 3px;
}

.category_box>li:nth-of-type(1)>.youjiantou {
    top: 12px;
}

.category_box>li:nth-of-type(2)>.youjiantou {
    top: 43px;
}

.category_box>li:nth-of-type(3)>.youjiantou {
    top: 75px;
}

.category_box>li:nth-of-type(4)>.youjiantou {
    top: 107px;
}

.category_box>li:nth-of-type(5)>.youjiantou {
    top: 139px;
}


.category_box {
    position: relative;
}

.category_box>li {
    height: 32px;
    line-height: 32px;
    border: 1px solid transparent;
}

.category_box>li:nth-of-type(1)>i:nth-of-type(1) {
    background: url(../images/hui1.png) no-repeat 100%;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 6px;
}

.category_box>li:nth-of-type(2)>i:nth-of-type(1) {
    background: url(../images/hui2.png) no-repeat 100%;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 6px;
}

.category_box>li:nth-of-type(3)>i:nth-of-type(1) {
    background: url(../images/hui3.png) no-repeat 100%;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 6px;
}

.category_box>li:nth-of-type(4)>i:nth-of-type(1) {
    background: url(../images/hui4.png) no-repeat 100%;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 6px;
}

.category_box>li:nth-of-type(5)>i:nth-of-type(1) {
    background: url(../images/hui5.png) no-repeat 100%;
    width: 24px;
    height: 24px;
    display: block;
    margin-left: 6px;
}

.category_box>li>span {
    font-weight: bold;
    color: #262626;
}

.category_box>li>span,
.category_box>li>a {
    padding: 0px 5px;
}

.show_content {
    position: absolute;
    top: -35px;
    left: 250px;
    width: 679px;
    min-height: 330px;
    background: #FFFFFF;
    border: 1px solid #FF3300;
    padding-bottom: 10px;
    display: none;
    z-index: 6;
}

.category_box>li:hover {
    border-left: 4px solid #FF3300;
    border-top: 1px solid #FF3300;
    border-bottom: 1px solid #FF3300;
    border-right: 1px solid #FFFFFF;
    cursor: pointer;
}

.category_box>li:nth-of-type(1):hover i:nth-of-type(1) {
    background: url(../images/cheng1.png) no-repeat 100%;
}

.category_box>li:nth-of-type(2):hover i:nth-of-type(1) {
    background: url(../images/cheng2.png) no-repeat 100%;
}

.category_box>li:nth-of-type(3):hover i:nth-of-type(1) {
    background: url(../images/cheng3.png) no-repeat 100%;
}

.category_box>li:nth-of-type(4):hover i:nth-of-type(1) {
    background: url(../images/cheng4.png) no-repeat 100%;
}

.category_box>li:nth-of-type(5):hover i:nth-of-type(1) {
    background: url(../images/cheng5.png) no-repeat 100%;
}

.category_box>li:hover .bacfff {
    display: block;
}

.category_box>li:hover .youjiantou {
    display: none;
    top: -999999px;
}

.category_box>li:hover .show_content {
    display: block;
}

.category_box>li>.bacfff {
    position: absolute;
    height: 32px;
    width: 3px;
    background-color: #FFFFFF;
    right: -2px;
    z-index: 10;
    display: none;
}

.show_content>p {
    padding: 5px 0 0 10px;
    font-weight: bold;
    color: #000000;

}

.show_content>ul>li {
    padding: 0px 10px;
}

.show_content>ul>li>a {
    font-weight: 400;
    color: #595959;
}

.show_content>ul>li>a:hover {
    color: #FF3300;
}

.diqus {
    padding: 0px 10px;
    margin-top: 3px;
}

.diqus>span {
    font-weight: bold;
    color: #262626;
    display: block;
    width: 43px;
}

.diqus>ul>li>a {
    font-weight: 400;
    color: #595959;
    padding: 0px 8px;
}

.enter_b {
    width: 670px;
    height: 444px;
    overflow: hidden;
    position: relative;
}

.banner_boxs {
    width: 670px;
    height: 295px;
    position: relative;
}

.banner_boxs>ul {
    width: 2680px;
    /* 图片数量 * 图片宽度 */
    height: 295px;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.banner_boxs>ul>li {
    width: 670px;
    height: 295px;
    list-style: none;
}

.banner_boxs>ul>li>a>img,
.banner_boxs>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
}

/* 小圆点 */
.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.dot.active {
    background-color: #f00;
}

.zsbox {
    margin-top: 10px;
}

.zsbox>ul,
.zsbox {
    width: 670px;
    height: 139px;
}

.zsbox>ul>li {
    width: 160px;
    height: 139px;
    border: 1px solid #E0E0E0;
}

.zsbox>ul>li>a:nth-of-type(1) {
    display: block;
    width: 160px;
    height: 107px;
    background: #FFFFFF;
    border-bottom: 1px solid #0000001f;
}

.zsbox>ul>li>a:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}

.zsbox>ul>li>a:nth-of-type(2) {
    height: 32px;
    line-height: 32px;
    display: block;
    width: 160px;
    padding: 0px 3px;
    font-weight: 400;
    color: #595959;
    background: #FFFFFF;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.enter_r {
    width: 250px;
    height: 444px;
    background: #FFFFFF;
    border-radius: 4px 2px 2px 2px;
}

.newest_dy {
    width: 250px;
    height: 35px;
    background: #FF4000;
    border-radius: 4px 4px 0px 0px;
}

.newest_dy>span {
    font-weight: bold;
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 20px;
    position: relative;
}

.newest_dy>span::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 10px;
    width: 4px;
    height: 15px;
    background: #FFFFFF;
}

.newest_dy>a {
    width: 27px;
    height: 25px;
    display: block;
    margin-right: 5px;
    background-image: url(../images/change.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.news_dashs {
    width: 250px;
    height: 407px;
    background: #FFFFFF;
    overflow: hidden;
    border-radius: 4px 2px 2px 2px;
}

.news_dashs>li {
    width: 250px;
    position: relative;
}

.news_dashs>li::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 10px;
    width: 5px;
    height: 5px;
    background: #CCCDD1;
    border-radius: 50%;
}

.news_dashs>li:nth-of-type(1) {
    margin-top: 13px;
}

.news_dashs>li:not(:first-child) {
    margin-top: 9px;
}

.news_dashs>li>a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
    display: block;
    width: 250px;
    font-weight: 400;
    color: #595959;
}
.news_dashs>li>a:hover{
    color: #FF4400;
}