<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>沧州千尺雪食品有限公司-食品代理网</title>
    <meta name="keywords" content="沧州千尺雪食品有限公司" />
    <meta name="description"
        content="沧州千尺雪食品有限公司成立于2004年，公司位于燕赵大地以狮城著称的河北省沧州市。公司成立十几年来是专业从事儿童乳饮料的研发、生产加工及销售的企业。现如今，儿童饮品市场是日渐繁荣与火热，随着二胎政策的" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <link rel="stylesheet" href="../css/template.css">
</head>

<body>
    <!-- 顶部内容 -->
    <div class="top container-fluid">
        <div class="container clearfix">
            <div class="top-nav fl">
                <ul class="clearfix">
                    <li class="fl"><a href="javascript:void(0)" rel="nofollow" target="_blank">网站首页</a></li>
                    <li class="fl"><a href="javascript:void(0)" rel="nofollow" target="_blank">休闲食品</a></li>
                    <li class="fl"><a href="javascript:void(0)" rel="nofollow" target="_blank">饮料饮品</a></li>
                    <li class="fl"><a href="javascript:void(0)" rel="nofollow" target="_blank">酒水专区</a></li>
                </ul>
            </div>
            <div id="userlogin" class="top-conr fr">
                <i class="fl"></i>
                <a href="javascript:void(0)" rel="nofollow" class="fl cred" target="_blank">登录</a>
                <i class="fl"></i>
                <a href="javascript:void(0)" rel="nofollow" class="fl" target="_blank">注册</a>
                <i class="fl"></i>
            </div>
        </div>
    </div>
    <!-- 头部内容 -->
    <header class="container clearfix">
        <div class="head-conl fl">
            <img class="logo-pic fl" src="https://www.spdl.com/ImgCompany/202103261335481.jpg" alt="" />
            <div class="company-relevant fl">
                <h1 class="company-name">沧州千尺雪食品有限公司</h1>
                <div class="clearfix company-assess">
                    <span class="fl">推荐指数：</span>
                    <div class="clearfix star fl">
                        <i class="fl iconfont cred">&#xe6b4;</i>
                        <i class="fl iconfont cred">&#xe6b4;</i>
                        <i class="fl iconfont cred">&#xe6b4;</i>
                        <i class="fl iconfont cred">&#xe6b4;</i>
                        <i class="fl iconfont cred">&#xe6b4;</i>

                    </div>
                </div>
                <div class="clearfix">
                    <span class="fl certified-enterprise tac">诚信认证</span>
                    <span class="fl brand">主营产品：饮料饮品>乳饮料</span>
                </div>
            </div>
        </div>
        <div class="head-conr fr">
            <div id="qrcode" class="fl head-conr-ewm"></div>
            <div class="fl">
                <span>微信扫一扫</span>
                <span>手机浏览本站</span>
                <span>找产品更方便</span>
            </div>
            <img class="fl logo2" src="../images/all.png" alt="" />
            <div class="fl">
                <span>景琦</span>
                <span>13343275303</span>
                <a href="#message">立即预约</a>
            </div>
        </div>
    </header>
    <!-- 导航 -->
    <nav class="container-fluid">
        <ul class="clearfix tac container navul">
            <li class="fl nav-act">
                <a href="javascript:void(0)">首页</a>
            </li>
            <li class="fl"><a href="./aboutus.html">企业简介</a></li>
            <li class="fl"><a href="#bid">主打产品</a></li>
            <li class="fl"><a href="./listproduct.html">全部产品</a></li>
            <li class="fl"><a href="./listagentinfo.html">代理意向</a></li>
            <li class="fl"><a href="./linkus.html">联系我们</a></li>
            <li class="fl"><a href="#message">快速留言</a></li>
        </ul>
    </nav>
    <!-- banner图 -->
    <div class="banner">
        <img src="https://www.spdl.com/uploadfiles/s_202112291714170417.jpg" alt="" />
    </div>

    <!-- 主题内容 -->
    <div class="wrap container-fluid">
        <div class="wrap-con container">
            <!-- 标题模块儿 -->
            <div class="mod-tit clearfix" id="Spring">
                <div class="mod-tit-line fl"></div>
                <h2 class="fl mod-tit-cn">企业简介</h2>
                <span class="fl mod-tit-en">COMPANY PROFILE</span>
            </div>
            <!-- 企业简介 -->
            <div class="profile bgf clearfix mod-border">
                <div class="profile-conl fl">
                    <div id="wine-video">
                        <img class="company-pic" src="https://www.spdl.com/ImgCompany/202103261335481.jpg"
                            alt="" />
                    </div>
                    <div class="credibility">
                        <div class="credibility-t bgf clearfix">
                            <i class="fl"></i>
                            <p class="fl">诚信认证企业<span>第<span>6</span>年</span></p>
                        </div>
                        <ul class="clearfix">
                            <li class="fl">
                                <span class="fl">信用等级：</span>
                                <img src="../images/b_blue_5.gif" alt="信用等级" class="fl star-pic" />
                            </li>
                            <li class="fl clearfix">
                                <span class="ds fl">信用信息：<a href="javascript:void(0)">诚信档案</a></span>
                                <i class="icon-registration fl"></i>
                            </li>
                            <li class="fl modification">地理位置：河北省,沧州市,青县</li>
                        </ul>
                    </div>
                </div>
                <div class="profile-conr fl">
                    <p> 沧州千尺雪食品有限公司成立于2004年，公司位于燕赵大地以狮城著称的河北省沧州市。公司成立十几年来是专业从事儿童乳饮料的研发、生产加工及销售的企业。现如今，儿童饮品市场是日渐繁荣与火热，随着二胎政策的开放，消费者健康意识的提高，儿童饮料市场的巨大潜力受到众多饮品巨头的关注，目前公司旗下享有“旺仔”“卡夫奥利奥”“旺哥”三大品牌，公司以产品的质量安全，科学管理及行业内良好的信誉赢得了行业内众多代理商的支持。公司全面整合人、财、物等资源，快速发展，一是内强素质，外树形象，是当地一家知名的食品企业，对儿童饮料生产企业来说，一款好的儿童饮品不仅仅要保证其是否安全卫生、营养健康，孩子能否被其包装吸引也是不容忽视的因素。可爱的卡通形象，精美的瓶型包装，“补足钙铁锌，旺仔益小瓶”已经成为了儿童饮品行业内经典的宣传口号，以功能性为主导的儿童乳味饮品即将成为儿童饮料的新时代!
                    </p>
                    <p> 公司理念：以质量求生存，以信誉求发展。</p>
                    <p> 扶助值得帮助的人，成就人生财富</p>
                </div>
            </div>
            <!-- 标题模块儿 -->
            <div id="bid" class="mod-tit clearfix">
                <div class="mod-tit-line fl"></div>
                <h2 class="fl mod-tit-cn">主打产品</h2>
                <span class="fl mod-tit-en">MAIN PRODUCTS</span>
            </div>
            <!-- 主打产品 -->
            <div class="main-product">
                <ul class="clearfix tac">
                    <li class="fl">
                        <i></i>
                        <div class="main-pro-pic">
                            <a href="javascript:void(0)" target="_blank">
                                <img src="https://www.spdl.com/uploadfiles/s_202007131435449820.jpg"
                                    alt="" />
                            </a>

                        </div>

                        <p><span class="main-pro-classify">其他</span></p>
                        <a href="javascript:void(0)" target="_blank" class="main-pro-name"
                            title="七娃萌宝宝乳味饮料200ml">七娃萌宝宝乳味饮料200ml</a>
                    </li>
                    <li class="fl">
                        <i></i>
                        <div class="main-pro-pic">
                            <a href="javascript:void(0)" target="_blank">
                                <img src="https://www.spdl.com/uploadfiles/s_202202171606039572.jpg"
                                    alt="七娃棒棒冰风味饮料78ml" />
                            </a>

                        </div>

                        <p><span class="main-pro-classify">果汁</span></p>
                        <a href="javascript:void(0)" target="_blank" class="main-pro-name"
                            title="七娃棒棒冰风味饮料78ml">七娃棒棒冰风味饮料78ml</a>
                    </li>
                    <li class="fl">
                        <i></i>
                        <div class="main-pro-pic">
                            <a href="javascript:void(0)" target="_blank">
                                <img src="https://www.spdl.com/uploadfiles/s_202205271507519247.jpg" alt="七娃果味饮料80ml" />
                            </a>

                        </div>

                        <p><span class="main-pro-classify">果汁</span></p>
                        <a href="javascript:void(0)" target="_blank" class="main-pro-name"
                            title="七娃果味饮料80ml">七娃果味饮料80ml</a>
                    </li>
                    <li class="fl">
                        <i></i>
                        <div class="main-pro-pic">
                            <a href="javascript:void(0)" target="_blank">
                                <img src="https://www.spdl.com/uploadfiles/s_202112201604119853.jpg" alt="七娃糖葫芦支装" />
                            </a>

                        </div>

                        <p><span class="main-pro-classify">乳饮料</span></p>
                        <a href="javascript:void(0)" target="_blank" class="main-pro-name"
                            title="七娃糖葫芦支装">七娃糖葫芦支装</a>
                    </li>
                </ul>
            </div>
            <!-- 标题模块儿 -->
            <div class="mod-tit clearfix">
                <div class="mod-tit-line fl"></div>
                <h2 class="fl mod-tit-cn" id="allproduct">产品展示</h2>
                <span class="fl mod-tit-en">PRODUCT DISPLAY</span>
                <div class="classify fr">
                    <ul>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">旺仔乳饮料系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃乳饮料系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">旺仔系列礼盒装</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃系列礼盒装</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃棒棒冰系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃袋冰系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃冻干果干系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃冻干酸奶块系列</a>
                        </li>
                        <li class="fl">
                            <a href="javascript:void(0)" target="_blank">七娃系列乳酸菌饮料</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- 产品展示 -->
            <div class="pro-tit bgf clearfix mt20">
                <i></i>
                <h3 class="fl">旺仔乳饮料系列</h3>
            </div>
            <div class="pro-con clearfix">
                <ul class="clearfix mqpro" id="series1">
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/593252.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202208101609198670.jpg"
                                alt="旺仔校巴饮水机乳味饮料180ml" /></a>
                        <a href="https://www.spdl.com/product/593252.html" class="pro-name tac"
                            title="旺仔校巴饮水机乳味饮料180ml">旺仔校巴饮水机乳味饮料180ml</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/593250.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202208101609200771.jpg"
                                alt="旺仔校巴饮水机乳味饮料180ml" /></a>
                        <a href="https://www.spdl.com/product/593250.html" class="pro-name tac"
                            title="旺仔校巴饮水机乳味饮料180ml">旺仔校巴饮水机乳味饮料180ml</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/593249.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202208101609202099.jpg"
                                alt="旺仔校巴饮水机乳味饮料180ml" /></a>
                        <a href="https://www.spdl.com/product/593249.html" class="pro-name tac"
                            title="旺仔校巴饮水机乳味饮料180ml">旺仔校巴饮水机乳味饮料180ml</a>
                    </li>
                </ul>
            </div>
            <input type="hidden" id="proscroll1" value="scoll" />

            <input type="hidden" id="proscroll2" value="scoll" />
            <div class="pro-tit bgf clearfix mt20">
                <i></i>
                <h3 class="fl">旺仔系列礼盒装</h3>
            </div>
            <div class="pro-con clearfix">
                <ul class="clearfix mqpro" id="series3">
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575211.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637465302.jpg"
                                alt="旺仔冠军小宝贝乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575211.html" class="pro-name tac"
                            title="旺仔冠军小宝贝乳味饮品礼盒">旺仔冠军小宝贝乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575206.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637472011.jpg"
                                alt="旺仔妈咪小宝贝原味乳味饮品礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575206.html" class="pro-name tac"
                            title="旺仔妈咪小宝贝原味乳味饮品礼盒200mlx16瓶">旺仔妈咪小宝贝原味乳味饮品礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575220.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637453314.jpg"
                                alt="旺仔冠军小宝贝乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575220.html" class="pro-name tac"
                            title="旺仔冠军小宝贝乳味饮品礼盒">旺仔冠军小宝贝乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575214.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637461420.jpg" alt="旺仔钙加锌乳味饮料礼盒" /></a>
                        <a href="https://www.spdl.com/product/575214.html" class="pro-name tac"
                            title="旺仔钙加锌乳味饮料礼盒">旺仔钙加锌乳味饮料礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575197.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637484671.jpg"
                                alt="旺仔维尼熊仔乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575197.html" class="pro-name tac"
                            title="旺仔维尼熊仔乳味饮品礼盒">旺仔维尼熊仔乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575195.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637487299.jpg"
                                alt="旺仔维尼熊仔乳味饮品礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575195.html" class="pro-name tac"
                            title="旺仔维尼熊仔乳味饮品礼盒200mlx16瓶">旺仔维尼熊仔乳味饮品礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575216.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637458633.jpg"
                                alt="旺仔儿童钙铁锌乳味饮料礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575216.html" class="pro-name tac"
                            title="旺仔儿童钙铁锌乳味饮料礼盒200mlx16瓶">旺仔儿童钙铁锌乳味饮料礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575196.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637485971.jpg"
                                alt="旺仔维尼熊仔乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575196.html" class="pro-name tac"
                            title="旺仔维尼熊仔乳味饮品礼盒">旺仔维尼熊仔乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575193.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637489970.jpg" alt="旺仔优乐虎乳味饮料礼盒" /></a>
                        <a href="https://www.spdl.com/product/575193.html" class="pro-name tac"
                            title="旺仔优乐虎乳味饮料礼盒">旺仔优乐虎乳味饮料礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575201.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637479409.jpg"
                                alt="旺仔佩奇宝贝草莓味礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575201.html" class="pro-name tac"
                            title="旺仔佩奇宝贝草莓味礼盒200mlx16瓶">旺仔佩奇宝贝草莓味礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575200.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637480613.jpg"
                                alt="旺仔佩奇宝贝原味乳味饮品礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575200.html" class="pro-name tac"
                            title="旺仔佩奇宝贝原味乳味饮品礼盒200mlx16瓶">旺仔佩奇宝贝原味乳味饮品礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575198.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637483313.jpg"
                                alt="旺仔维尼QQ熊乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575198.html" class="pro-name tac"
                            title="旺仔维尼QQ熊乳味饮品礼盒">旺仔维尼QQ熊乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575207.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637470634.jpg"
                                alt="旺仔妈咪小宝贝原草莓味乳味饮品礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575207.html" class="pro-name tac"
                            title="旺仔妈咪小宝贝原草莓味乳味饮品礼盒200mlx16瓶">旺仔妈咪小宝贝原草莓味乳味饮品礼盒200mlx16瓶</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575212.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637463973.jpg"
                                alt="旺仔冠军小宝贝乳味饮品礼盒" /></a>
                        <a href="https://www.spdl.com/product/575212.html" class="pro-name tac"
                            title="旺仔冠军小宝贝乳味饮品礼盒">旺仔冠军小宝贝乳味饮品礼盒</a>
                    </li>
                    <li class="fl">
                        <a class="pro-pic" href="https://www.spdl.com/product/575208.html"><img
                                src="https://www.spdl.com/uploadfiles/s_202112201637469272.jpg"
                                alt="旺仔妈咪小宝贝乳味饮品礼盒200mlx16瓶" /></a>
                        <a href="https://www.spdl.com/product/575208.html" class="pro-name tac"
                            title="旺仔妈咪小宝贝乳味饮品礼盒200mlx16瓶">旺仔妈咪小宝贝乳味饮品礼盒200mlx16瓶</a>
                    </li>
                </ul>
            </div>
            <!-- 标题模块儿 -->
            
        </div>
    </div>



    <!-- 标题模块儿 -->
    <div class="mod-tit clearfix container">
        <div class="mod-tit-line fl"></div>
        <h2 class="fl mod-tit-cn" id="connectUs">联系我们</h2>
        <span class="fl mod-tit-en">CONTACT US</span>
    </div>
    <!-- 联系方式 -->
    <div class="contact container clearfix">
        <div class="contact-l fl">
            <p class="contact-name">沧州千尺雪食品有限公司</p>
            <ul class="contact-detail clearfix">
                <li class="fl contact-detail-phone">
                    <i class="iconfont">&#xe611;</i>
                    <span>全国招商热线：13343275303</span>
                </li>
                <li class="fl">联系邮箱：923775003@qq.com </li>
                <li class="fl">企业网站：<a href="https://czqcxsp.spdl.com" target="_blank">https://czqcxsp.spdl.com</a></li>
                <li class="fl">联系地址：河北省青县陈咀工业园区 </li>
            </ul>
            <ul class="contact-ewm clearfix">
                <li class="clearfix fl">
                    <span class="contactimgbox">
                        <img src="https://www.spdl.com/ImgCompany/202103261335481.jpg" alt="沧州千尺雪食品有限公司" class="fl" />
                    </span>

                    <p class="fr">
                        <span>景琦</span>
                        <span>13343275303</span>
                        <span></span>
                    </p>
                </li>
            </ul>
            <div class="tjh">

            </div>
            <p class="contact-cue">温馨提示：联系我时，请说是在食品代理网上看到的，会有更多优惠，谢谢！</p>
        </div>
        <div class="contact-r fl">
            <div id="map">
                <script src="../js/spdlbaiduapi.js" type="text/javascript"></script>
                <script type="text/javascript">
                    var map = new SpdlMap();
                    map.PanelID = 'map';
                    map.Lng = '116.852384';
                    map.Lat = '38.565834';
                    map.CompanyName = '沧州千尺雪食品有限公司';
                    map.Address = '河北省,沧州市,青县';
                    map.CreateCompanyMap();
                </script>
            </div>
            <div class="clearfix contact-mobile">
                <div id="qrcode2" class="fl erweima"></div>
                <p class="fr">
                    <span class="contact-mobile-name">沧州千尺雪食品有限公司（手机微官网）</span>
                    <span>扫一扫，关注手机网站，</span>
                    <span>随时随地挖掘掌上最新商机，查找更多产品！</span>
                </p>
            </div>
        </div>
    </div>

    <!-- 在线留言 -->
    <div id="message" class="message clearfix container">
        <div class="point fl">
            <span class="point-con1">如果您对该企业感兴趣<br />请在右侧留言咨询。</span>
            <span class="file-path tac">代理流程四步法</span>
            <p class="file-path-detail file-path-detail1 clearfix">
                <i class="fl iconfont">&#xe744;</i>
                <span class="fl file-path-tit">留言咨询</span>
                <span class="fl">>></span>
            </p>
            <p class="file-path-detail clearfix">
                <i class="fl iconfont">&#xe603;</i>
                <span class="fl file-path-tit">等待回访</span>
            </p>
            <p class="file-path-detail clearfix">
                <i class="fl iconfont">&#xe654;</i>
                <span class="fl file-path-tit">签订合同</span>
            </p>
            <p class="file-path-detail clearfix">
                <i class="fl iconfont">&#xe62a;</i>
                <span class="fl file-path-tit">代理成功</span>
            </p>
            <p class="point-con2">温馨提醒：<br />请填写真实的留言信息，方便厂家及时与您取得联系！</p>
        </div>
        <div class="online fl">
            <div class="online-t clearfix">
                <ul class="fl">
                    <li class="clearfix">
                        <span class="fl w80"><span class="cred">*</span>您的姓名：</span>
                        <input id="name" class="fl" title="姓名或昵称" type="text" placeholder="请输入中文姓名，如张先生" />
                        <p class="fl">姓名或昵称</p>
                        <span class="cue dn cue-name"></span>
                    </li>
                    <li class="clearfix">
                        <span class="fl w80"><span class="cred">*</span>联系电话：</span>
                        <input id="mobile" class="fl" title="联系电话" type="text" placeholder="请输入联系电话，如178****4558" />
                        <p class="fl">您的手机号</p>
                        <span class="cue cue-mobile dn"></span>
                    </li>
                    <li class="clearfix">
                        <span class="fl w80">联系QQ：</span>
                        <input id="weixin" class="fl" type="text" />
                        <p class="fl">您的常用QQ</p>
                        <span class="cue cue-weixin dn"></span>
                    </li>
                    <li class="clearfix">
                        <span class="fl w80">回访时间：</span>
                        <div class="clearfix fl visit-time">
                            <input class="fl" type="radio" checked="checked" name="time" value="随时" />
                            <span class="fl">随时</span>
                        </div>
                        <div class="clearfix fl visit-time">
                            <input class="fl" type="radio" name="time" value="9点-12点" />
                            <span class="fl">9点-12点</span>
                        </div>
                        <div class="clearfix fl visit-time">
                            <input class="fl" type="radio" name="time" value="13点-17点" />
                            <span class="fl">13点-17点</span>
                        </div>
                        <div class="clearfix fl visit-time">
                            <input class="fl" type="radio" name="time" value="18点-21点" />
                            <span class="fl">18点-21点</span>
                        </div>
                    </li>
                    <li class="clearfix">
                        <span class="fl w80"><span class="cred">*</span>代理区域：</span>
                        <select id="s_province" name="s_province">
                        </select>
                        <select id="s_city" name="s_city">
                        </select>
                        <select id="s_county" name="s_county">
                        </select>
                    </li>
                </ul>
                <img class="fl" src="../images/computer.png" alt="在线留言" />
            </div>
            <div class="online-b clearfix">
                <ul class="fl">
                    <li class="clearfix">
                        <span class="fl tar w80"><span class="cred">*</span>留言内容：</span>
                        <textarea class="fl" name="" id="online-message" value="我想代理,请来电告诉我具体细节。"></textarea>
                        <input type="hidden" id="agenttype" value="22300," />
                    </li>
                    <li class="clearfix">
                        <div style="display:flex;justify-content:flex-start;align-items:center;font-size:12px;">
                            <div class="clearfix">
                                <input class="fl" checked="checked" type="radio" name="clause" value="0" />
                                <span class="fl protocol">同类厂家查看</span>
                            </div>
                            <div class="clearfix">
                                <input class="fl" type="radio" value="1" name="clause" />
                                <span class="fl protocol">意向厂家查看</span>
                            </div>
                        </div>
                        <div
                            style="display:flex;justify-content:flex-start;align-items:center;margin-left:10px;font-size:12px;">
                            <input type="checkbox" id="yinsi" checked="checked" style="margin-right:6px;" name="yinsi"
                                value="1" />我同意遵循<a href="https://www.spdl.com/about/fwtiaokuan.html"
                                style="color:#006ed5;" target="_blank">《食品代理网 服务条款》</a>和<a style="color:#006ed5;"
                                href="https://www.spdl.com/about/yinsibaohu.html" target="_blank">《食品代理网 隐私政策》</a>
                        </div>
                        <a href="javascript:void(0);" onclick="addMessage();" class="msg-submit">立即留言</a>
                    </li>
                </ul>
                <div class="shortcut fl">
                    <div class="shortcut-t">您可以根据意向选择下列 [快捷留言]</div>
                    <ul class="clearfix">
                        <li class="fl clearfix">
                            <input class="fl" type="radio" checked="checked" name="shortcut" value="我想代理,请来电告诉我具体细节。" />
                            <span class="fl">我想代理,请来电告诉我具体细节。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。" />
                            <span>我想做县级代理，有多年食品、饮料销售经验，请尽快联系我。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我想做市级代理，有多年食品、饮料销售经验，请尽快联系我。" />
                            <span>我想做市级代理，有多年食品、饮料销售经验，请尽快联系我。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我想了解产品的利润空间。" />
                            <span>我想了解产品的利润空间。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我是专做夜场销售。" />
                            <span>我是专做夜场销售。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我需求量大或团购。" />
                            <span>我需求量大或团购。</span>
                        </li>
                        <li class="fl clearfix">
                            <input type="radio" name="shortcut" class="fl" value="我有多年的销售经验，请尽快联系我。" />
                            <span>我有多年的销售经验，请尽快联系我。</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 食品代理 -->
    <div class="container-fluid agent-list">
        <ul class="clearfix container">
            <li class="fl clearfix">
                <img src="../images/agent1.png" alt="诚信企业" class="fl" />
                <div class="fl agent-txt">
                    <span class="agent-tit">诚信企业</span>
                    <span class="agent-con">诚信为本，守法经营</span>
                </div>
            </li>
            <li class="fl clearfix">
                <img src="../images/agent2.png" alt="品质保证" class="fl" />
                <div class="fl agent-txt">
                    <span class="agent-tit">品质保证</span>
                    <span class="agent-con">畅销产品，上乘品质</span>
                </div>
            </li>
            <li class="fl clearfix">
                <img src="../images/agent3.png" alt="合作共赢" class="fl" />
                <div class="fl agent-txt">
                    <span class="agent-tit">合作共赢</span>
                    <span class="agent-con">代理合作，共享财富</span>
                </div>
            </li>
            <li class="fl clearfix">
                <img src="../images/agent4.png" alt="大力支持" class="fl" />
                <div class="fl agent-txt">
                    <span class="agent-tit">大力支持</span>
                    <span class="agent-con">区域保护，政策扶持</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- 底部内容 -->
    <footer class="container-fluid">
        <ul class="container">
            <li class="clearfix">
                <span class="fl">电话：13343275303 </span>
                <span class="fl">地址：河北省青县陈咀工业园区 </span>
            </li>
            <li>
                <span>技术支持：<a href="https://www.spdl.com" target="_blank" rel="nofollow">食品代理网</a> <a target="_blank"
                        href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41010502002234"
                        rel="nofollow"><img src="../images/gwab.png"
                            style="width:20px; height:20px; display:inherit;">豫公网安备 41010502002234号</a> 　备案:<a
                        href="https://beian.miit.gov.cn" target="_blank" rel="nofollow">豫ICP备14027272号-1</a>
                    免费热线：400-070-1866</span>
                <span>食品代理网-专业的食品招商、食品代理服务平台。</span>
            </li>
            <li>
                <span>
                    本站只起到信息平台作用，内容的真实性、准确性和合法性由发布企业负责。为保障您的利益，建议优先选择VIP。
                </span>
            </li>
        </ul>
    </footer>
    <div class="last-kong container-fluid"></div>
    <div class="last container-fluid">
        <div class="last-main container-fluid clearfix">
            <div class="last-con container clearfix">
                <span class="last-company fl">沧州千尺雪食品有限公司</span>
                <span class="last-phone fl">全国招商热线：13343275303</span>
                <span class="last-name fl">景琦</span>
                <a href="#message" class="agent fl tac">立即留言</a>
            </div>
            <div class="back-top back-top1 tac">返回顶部</div>
        </div>

    </div>
    <div class="back-top back-top2 dn"></div>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/swiper-3.3.1.min.js"></script>
    <script type="text/javascript" src="../js/area.js"></script>
    <script type="text/javascript" src="../js/viewer.min.js"></script>
    <script type="text/javascript" src="../js/common.js?v=1.0.1"></script>
    <script type="text/javascript" src="../js/qrcode.js"></script>
    <script type="text/javascript">
        $(".play").on("click", function () {
            $(this).parent().addClass('dn').next().removeClass('dn');
            $(this).parent().next().find("video").get(0).play();
        })
        $(".close").on("click", function () {
            $(this).parent().addClass('dn').prev().removeClass('dn');
            $(this).next().get(0).pause();
        })
        //JS生成手机站二维码
        var qrcode = new QRCode("qrcode", {
            text: "https://m.spdl.com/company/czqcxsp/",
            width: 66,
            height: 66,
            correctLevel: QRCode.CorrectLevel.L
        });
        var btSwiper = new Swiper('.credit-list', {//swiper插件调用
            speed: 1000, //滑动速度
            slidesPerView: 5, //slide可见数量
            noSwiping: true,
            spaceBetween: 12.5,
            prevButton: '.swiper-button-prev', //前进后退按钮
            nextButton: '.swiper-button-next'
        });
        $(".news-tit li").on("click", function () {
            $(this).addClass("news-tit-act");
            $(this).siblings().removeClass("news-tit-act");
            $(".news-list ul").eq($(this).index()).removeClass('dn');
            $(".news-list ul").eq($(this).index()).siblings().addClass('dn');
        });
        $('.viewer').viewer({ url: "data-original" });
    </script>
    <script type="text/javascript">

        var qrcode = new QRCode("qrcode2", {
            text: "https://m.spdl.com/company/czqcxsp/",
            width: 86,
            height: 86,
            correctLevel: QRCode.CorrectLevel.L
        });
    </script>

    <script src="../js/marquee.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            var series1 = document.getElementById("series1"); var scoll1 = document.getElementById("proscroll1"); if (series1 && scoll1 && scoll1.value) { new Marquee("series1", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series2 = document.getElementById("series2"); var scoll2 = document.getElementById("proscroll2"); if (series2 && scoll2 && scoll2.value) { new Marquee("series2", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series3 = document.getElementById("series3"); var scoll3 = document.getElementById("proscroll3"); if (series3 && scoll3 && scoll3.value) { new Marquee("series3", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series4 = document.getElementById("series4"); var scoll4 = document.getElementById("proscroll4"); if (series4 && scoll4 && scoll4.value) { new Marquee("series4", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series5 = document.getElementById("series5"); var scoll5 = document.getElementById("proscroll5"); if (series5 && scoll5 && scoll5.value) { new Marquee("series5", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series6 = document.getElementById("series6"); var scoll6 = document.getElementById("proscroll6"); if (series6 && scoll6 && scoll6.value) { new Marquee("series6", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series7 = document.getElementById("series7"); var scoll7 = document.getElementById("proscroll7"); if (series7 && scoll7 && scoll7.value) { new Marquee("series7", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series8 = document.getElementById("series8"); var scoll8 = document.getElementById("proscroll8"); if (series8 && scoll8 && scoll8.value) { new Marquee("series8", 2, 1, 1190, 140, 30, 0, 0, 0); }
            var series9 = document.getElementById("series9"); var scoll9 = document.getElementById("proscroll9"); if (series9 && scoll9 && scoll9.value) { new Marquee("series9", 2, 1, 1190, 140, 30, 0, 0, 0); }
        })
        function ScrollTop(number, time) {//封装改变滚动条
            if (!time) {
                document.body.scrollTop = document.documentElement.scrollTop = number;
                return number;
            }
            const spacingTime = 20; // 设置循环的间隔时间  值越小消耗性能越高
            let spacingInex = time / spacingTime; // 计算循环的次数
            let nowTop = document.body.scrollTop + document.documentElement.scrollTop; // 获取当前滚动条位置
            let everTop = (number - nowTop) / spacingInex; // 计算每次滑动的距离
            let scrollTimer = setInterval(function () {
                if (spacingInex > 0) {
                    spacingInex--;
                    ScrollTop(nowTop += everTop);
                } else {
                    clearInterval(scrollTimer); // 清除计时器
                }
            }, spacingTime);
        };
        //// 返回顶部
        $(".back-top").on("click", function () {
           $("html,body").animate({ scrollTop: 0 }, 500);
        })
    </script>

</body>

</html>